@()(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: models.LoginSession
)

@main(Messages("categoryMaintenanceTitle"), Some(loginSession)) {
  <h1 class="title">@Messages("categoryMaintenanceTitle")</h1>

  <div class="menuItem">
    <a href="@routes.CategoryMaintenance.startCreateNewCategory()">
      @Messages("createNewCategoryMenu")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.CategoryMaintenance.editCategory()">
      @Messages("editCategoryMenu")
    </a>
  </div>

  <div class="menuPanel">
    @admin.backToAdminTop()
  </div>
}
