@(
  myForm: Form[models.CreateCategory], langTable: Seq[(String, String)]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("createNewCategoryTitle"), Some(loginSession)) {
  <script src="@routes.Assets.at("javascripts/jquery-ui.custom.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("javascripts/skin-vista/ui.dynatree.css")" rel="stylesheet" type="text/css"/>
  <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>

  <script type="text/javascript">
  $(function(){
    $("#catTree").dynatree({
      checkbox: true,
      selectMode: 1,
      initAjax: { 
        url: "categoryPathTree" 
      },
      onSelect: function(select,node) {
        var s = node.tree.getSelectedNodes()[0].data.key;
        $("#parentHiddenValue").val(s);
      },
      // onPostInit: function(isReloading, isError) {
      //   var tree = $("#catTree").dynatree("getTree")
      //   var s = tree.getSelectedNodes()[0].data.key;
      //   $("#parentHiddenValue").val(s);
      // }
    });
  });
  </script>

  <h1 class="title">@Messages("createNewCategoryTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.CategoryMaintenance.createNewCategory()), 'id -> "createNewCategoryForm") {

     @select(
      myForm("langId"), 
      langTable, 
      '_label -> Messages("language"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("categoryName"),
      '_label -> Messages("categoryName"), 'size -> 24, 'maxlength -> 32
    )

    <div id="catTree"></div>

    <input id="parentHiddenValue" type="hidden" name="parent" value="">

    <input type="submit" value=@Messages("register") />
  }

  <div class="menuPanel" >
    <br>
    <a class="backLink" href="@routes.CategoryMaintenance.index()">
      @Messages("backTo", Messages("categoryMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}

