@(
  myForm: Form[models.CreateSiteOwner], siteTable: Seq[(String, String)]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("createSiteOwnerTitle"), None) {
  <h1 class="title">@Messages("createSiteOwnerTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @helper.form(action = helper.CSRF(routes.UserMaintenance.createNewSiteOwner()), 'id -> "createNewSiteOwnerForm") {
    @select(
      myForm("siteId"), 
      siteTable, 
      '_label -> Messages("site"),
      '_showConstraints -> false
    )

    @userCommonFields(myForm)
    <input type="submit" id="registerSiteOwner" value=@Messages("register")>
  }

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.UserMaintenance.index">
      @Messages("backTo", Messages("userMaintenanceTitle"))
    </a>

    <br>
    <a class="backLink" href="@routes.Admin.index()">
      @Messages("backTo", Messages("adminTitle"))
    </a>
  </div>
}

