@(
  myForm: Form[CreateNews]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("createNewsTitle"), Some(loginSession), contentCssClass = "adminContents") {
  <script src="@routes.Assets.at("javascripts/jquery.ui.datepicker-ja.js")" type="text/javascript"></script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector:'textarea',
      plugins: "textcolor",
      toolbar: "forecolor backcolor"
    });
  </script>
} {
  <script type="text/javascript">
    $(function() {
      $("#releaseDateTextBox").datepicker({
        dateFormat: 'yy年mm月dd日'
      });
    });
  </script>
  <h1 class="title">@Messages("createNewsTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.NewsMaintenance.createNews()), 'id -> "createNewsForm") {
    @helper.inputText(
      myForm("title"),
      '_label -> Messages("newsTitle"), 'size -> 80, 'maxlength -> 255
    )

    @textarea(
      myForm("contents"), '_label -> Messages("newsContents"),
      'rows -> 15, 'cols -> 80, 'id -> "newsContents"
    )

    @inputText(
      myForm("releaseDate"),
      '_label -> Messages("releaseDate"), 'id-> "releaseDateTextBox"
    )
    <input type="submit" class="createNewsButton" value=@Messages("register")>
  }

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.NewsMaintenance.index()">
      @Messages("backTo", Messages("newsMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
