@(
  myForm: Form[models.FirstSetup]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("createSuperUserTitle"), None) {
} {
  <h1 class="title">@Messages("createSuperUserTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @helper.form(action = helper.CSRF(routes.UserMaintenance.createNewSuperUser()), 'id -> "createNewSuperUserForm") {
    @userCommonFields(myForm)
    <input type="submit" id="registerSuperUser" value=@Messages("register")>
  }

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.UserMaintenance.index">
      @Messages("backTo", Messages("userMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
