@(myForm: Form[models.CreateItem], langTable: Seq[(String, String)], categoryTable: Seq[(String, String)])(implicit token: play.filters.csrf.CSRF.Token, lang: Lang, flash: play.api.mvc.Flash)

@import helper._

@main(Messages("createNewItemTitle")) {
  <h1>@Messages("createNewItemTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.ItemMaintenance.createNewItem()), 'id -> "createNewItemForm") {
    @select(
      myForm("langId"), 
      langTable, 
      '_label -> Messages("language"),
      '_showConstraints -> false
    )

    @select(
      myForm("categoryId"), 
      categoryTable, 
      '_label -> Messages("category"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("itemName"),
      '_label -> Messages("itemName"), 'size -> 24, 'maxlength -> 32
    )

    @helper.inputText(
      myForm("price"),
      '_label -> Messages("price"), 'size -> 15, 'maxlength -> 15, '_showConstraints -> false
    )

    @helper.textarea(
      myForm("description"),
      '_label -> Messages("itemDescription"),
      'rows -> 10, 'cols -> 50
    )

    <input type="submit" value=@Messages("register")>
  }
}

