@(myForm: Form[models.CreateItem],
  langTable: Seq[(String, String)],
  categoryTable: Seq[(String, String)],
  siteTable: Seq[(String, String)],
  taxTable: Seq[(String, String)],
  currencyTable: Seq[(String, String)]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("createNewItemTitle"), Some(loginSession)) {
  <h1 class="title">@Messages("createNewItemTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.ItemMaintenance.createNewItem()), 'id -> "createNewItemForm") {
    @select(
      myForm("langId"), 
      langTable, 
      '_label -> Messages("language"),
      '_showConstraints -> false
    )

    @select(
      myForm("siteId"), 
      siteTable, 
      '_label -> Messages("site"),
      '_showConstraints -> false
    )

    @select(
      myForm("categoryId"), 
      categoryTable, 
      '_label -> Messages("category"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("itemName"),
      '_label -> Messages("itemName"), 'size -> 24, 'maxlength -> 32
    )

    @select(
      myForm("taxId"), 
      taxTable, 
      '_label -> Messages("tax"),
      '_showConstraints -> false
    )

    @select(
      myForm("currencyId"), 
      currencyTable, 
      '_label -> Messages("currency"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("price"),
      '_label -> Messages("price"), 'size -> 15, 'maxlength -> 15, '_showConstraints -> false
    )

    @helper.textarea(
      myForm("description"),
      '_label -> Messages("itemDescription"),
      'rows -> 10, 'cols -> 50
    )

    <input type="submit" value=@Messages("register")>
  }

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.ItemMaintenance.index()">
      @Messages("backTo", Messages("itemMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
