@(myForm: Form[models.CreateCategory], langTable: Seq[(String, String)])(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("createNewCategoryTitle"), Some(loginSession)) {
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
  <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("stylesheets/skin-vista/ui.dynatree.css")" rel="stylesheet" type="text/css"/>
  <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>
  <script type="text/javascript">
      $(function() {
        $("#catTree").dynatree(
            {
              checkbox : true,
              selectMode : 1,
              persist : true,
              initAjax : {
                url : "categoryPathTree"
              },
              onSelect : function(select, node) {
                var s = node.tree.getSelectedNodes()[0].data.key;
                $("#parentHiddenValue").val(s);
              },
              dnd : {
                preventVoidMoves : true,
                onDragStart : function(node) {
                  console.log("tree.onDragStart(%o)", node);
                  return true;
                },
                onDragEnter : function(targetNode, sourceNode, ui, draggable) {
                  if (targetNode.isDescendantOf(sourceNode)) {
                    return false
                  }
                  return true;
                },
                onDrop : function(node, sourceNode, hitMode, ui, draggable) {
                  console.log("tree.onDrop(%o, %o, %s)", node, sourceNode,
                      hitMode);
                  sourceNode.move(node, hitMode);

                  var postdata = {
                    categoryId : sourceNode.data.key,
                  }

                  if (hitMode == 'over') {
                    postdata["parentCategoryId"] = node.data.key;
                  } else {
                    var pn = node.getParent();
                    console.log("pn %o", pn)
                    if (pn.getLevel() != 0) {
                      postdata["parentCategoryId"] = pn.data.key;
                    }
                  }

                  $.post(
                      "@helper.CSRF(routes.CategoryMaintenance.moveCategory)",
                      postdata).done(function(data) {
                    console.log("ajax returned %o", data);
                    $("#catTree").dynatree("getTree").reload();
                  }).fail(function(data) {
                    console.log("fail %o", data);
                  });

                }
              }
            });
      });
    </script>
} {
  <h1 class="title">@Messages("createNewCategoryTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.CategoryMaintenance.createNewCategory()), 'id -> "createNewCategoryForm") {

     @select(
      myForm("langId"), 
      langTable, 
      '_label -> Messages("language"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("categoryName"),
      '_label -> Messages("categoryName"), 'size -> 24, 'maxlength -> 32
    )

    <dl class=" " id="parentCategory_field">
      <dt><label for="catTree">@Messages("parentCategory")</label></dt>
      <dd>
        <div id="catTree"></div>
      </dd>
    </dl>

    <input id="parentHiddenValue" type="hidden" name="parent" value="">

    <input type="submit" value=@Messages("register") />
  }

  <div class="menuPanel" >
    <br>
    <a class="backLink" href="@routes.CategoryMaintenance.index()">
      @Messages("backTo", Messages("categoryMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}

