@(page: PagedRecords[(Category, Option[CategoryName])])(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@implicitLoginSessionOpt = @{Some(loginSession)}

@main(Messages("editCategoryTitle"), Some(loginSession), contentCssClass = "adminContents") {
  <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("stylesheets/skin-vista/ui.dynatree.css")" rel="stylesheet" type="text/css"/>
  <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>
 
  <script type="text/javascript">
      $(function() {
        $("#catTree").dynatree(
            {
              persist: true,
              initAjax : {
                url : "categoryPathTree"
              },
              onCreate : function(dtnode, nodeSpan) {
                console.log("created");
              },
              dnd : {
                preventVoidMoves: true,
                onDragStart : function(node) {
                  console.log("tree.onDragStart(%o)", node);
                  return true;
                },
                onDragEnter : function(node) {
                  return true;
                },
                onDrop : function(node, sourceNode, hitMode, ui, draggable) {
                  console.log("tree.onDrop(%o, %o, %s)", node, sourceNode,
                      hitMode);
                  sourceNode.move(node, hitMode);
                  $.post("@{helper.CSRF(routes.CategoryMaintenance.moveCategory)}", {
                    "categoryId" : sourceNode.data.key,
                    "parentCategoryId" : node.data.key
                  }).done(function(data) {
                    console.log("ajax returned %o", data);
                    $("#catTree").dynatree("getTree").reload();
                  }).fail(function(data) {
                    console.log("fail %o", data);
                  });
                }
              }
            });
      });
    </script>
} {
  <h1 class="title">@Messages("editCategoryTitle")</h1>

  <table class="categoryTable">
    <tr>
      <th class="categoryTableHeaderId categoryHeader">
        @orderMark(
          "id",
          routes.CategoryMaintenance.editCategory,
          "category.category_id", page
        )
      </th>
      <th class="categoryTableHeaderName categoryHeader">
        @orderMark(
          "name",
          routes.CategoryMaintenance.editCategory,
          "category_name.category_name", page
        )
      </th>
    </tr>

    @page.records.map { rec =>
      <tr class="categoryTableBody">
        <td class="categoryTableId">@rec._1.id</td>
        <td class="categoryTableName">@rec._2.map(_.name).getOrElse("-")</td>
      </tr>
    }
  </table>

  <br>
  @pagingPanel(
    page,
    routes.CategoryMaintenance.editCategory,
    10, 25, 50
  )

  <div id="catTree">  </div>

  <div class="menuPanel" >
    <br>
    <a class="backLink" href="@routes.CategoryMaintenance.index()">
      @Messages("backTo", Messages("categoryMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
