@(users: Seq[ListUserEntry])(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("editUserTitle"), Some(loginSession)) {
<h1 class="title">@Messages("editUserTitle")</h1>

<table class="userTable">
  <tr class="userTableHeader">
    <th class="id">id</th>
    <th class="name">@Messages("userName")</th>
    <th class="fullName">@Messages("name")</th>
    <th class="company">@Messages("companyName")</th>
    <th class="email">@Messages("email")</th>
    <th class="role">@Messages("role")</th>
    <th class="action"></th>
  </tr>
  @users.map { user =>
    <tr class="userTableBody">
      <td class="id">
        <a href="@routes.UserMaintenance.modifyUserStart(user.user.id.get)">
          @user.user.id.get
        </a>
      </td>
      <td class="name">@user.user.userName</td>
      <td class="fullName">@name(user.user)</td>
      <td class="company">@user.user.companyName.getOrElse("")</td>
      <td class="email">@user.user.email</td>
      <td class="role">
        @{
          if (user.user.userRole == UserRole.ADMIN) {
            Messages("admin.user")
          } else {
            user.site match {
              case None => Messages("normal.user")
              case Some(site) => Messages("site.owner") + "(" + site.name + ")"
            }
          }
       }
      </td>
      <td class="action">
        @form(action = helper.CSRF(routes.UserMaintenance.deleteUser(user.user.id.get))) {
          <input type="submit" style="float: left;" value=@Messages("remove")>
        }
      </td>
    </tr>
  }
</table>

<div class="menuPanel">
  <br>
  <a class="backLink" href="@routes.UserMaintenance.index">
    @Messages("backTo", Messages("userMaintenanceTitle"))
  </a>

  <br>
  @admin.backToAdminTop()
</div>
}

