@(users: PagedRecords[ListUserEntry])(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@implicitLoginSessionOpt = @{Some(loginSession)}

@main(Messages("editUserTitle"), Some(loginSession), contentCssClass = "adminContents") {
} {
<h1 class="title">@Messages("editUserTitle")</h1>

<table class="userTable">
  <tr class="userTableHeader">
    <th class="id">
      @orderMark(
        "id",
        routes.UserMaintenance.editUser,
        "store_user.store_user_id", users
      )
    </th>
    <th class="name">
      @orderMark(
        Messages("userName"),
        routes.UserMaintenance.editUser,
        "store_user.user_name", users
      )
    </th>
    <th class="fullName">
      @orderMark(
        Messages("name"),
        routes.UserMaintenance.editUser,
        "full_name", users
      )
    </th>
    <th class="company">
      @orderMark(
        Messages("companyName"),
        routes.UserMaintenance.editUser,
        "store_user.company_name", users
      )
    </th>
    <th class="email">
      @orderMark(
        Messages("email"),
        routes.UserMaintenance.editUser,
        "store_user.email", users
      )
    </th>
    <th class="role">
      @orderMark(
        Messages("role"),
        routes.UserMaintenance.editUser,
        "store_user.user_role", users
      )
    </th>
    <th class="action"></th>
  </tr>
  @users.records.map { user =>
    <tr class="userTableBody">
      <td class="id">
        <a href="@routes.UserMaintenance.modifyUserStart(user.user.id.get)">
          @user.user.id.get
        </a>
      </td>
      <td class="name">@user.user.userName</td>
      <td class="fullName">@name(user.user)</td>
      <td class="company">@user.user.companyName.getOrElse("")</td>
      <td class="email">@user.user.email</td>
      <td class="role">
        @{
          if (user.user.userRole == UserRole.ADMIN) {
            Messages("admin.user")
          } else {
            user.site match {
              case None => Messages("normal.user")
              case Some(site) => Messages("site.owner") + "(" + site.name + ")"
            }
          }
       }
      </td>
      <td class="action">
        @form(action = helper.CSRF(routes.UserMaintenance.deleteUser(user.user.id.get))) {
          <input type="submit" style="float: left;" value=@Messages("remove")>
        }
      </td>
    </tr>
  }
</table>

<br>
@pagingPanel(
  users,
  routes.UserMaintenance.editUser,
  10, 25, 50
)

<div class="menuPanel">
  <br>
  <a class="backLink" href="@routes.UserMaintenance.index">
    @Messages("backTo", Messages("userMaintenanceTitle"))
  </a>

  <br>
  @admin.backToAdminTop()
</div>
}

