@(
  queryString: helpers.QueryString,
  list: PagedRecords[(
    models.Item,
    models.ItemName,
    models.ItemDescription,
    models.Site,
    models.ItemPriceHistory,
    Map[ItemNumericMetadataType, ItemNumericMetadata],
    Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
    Map[ItemTextMetadataType, ItemTextMetadata]
  )]
)(
  implicit lang: Lang,
  request: RequestHeader,
  login: LoginSession
)

@main(Messages("editItemTitle"), Some(login)) {
} {
  <h1 class="title">@Messages("editItemTitle")</h1>

  @helper.form(action=routes.ItemMaintenance.editItem(queryString.table.toList)) {
    <input id="searchBox" type="search" name="q" placeholder="@Messages("search.placeholder")" value="@queryString.toString">
    <input id="searchSubmit" type="submit" value="@Messages("search.button.title")">
  }

  <br>

  <table class="itemTable">
    <tr>
      <th class="itemTableHeaderId itemHeader">id</th>
      <th class="itemTableHeaderItemName itemHeader">@Messages("itemName")</th>
      <th class="itemTableHeaderSiteName itemHeader">@Messages("site")</th>
      <th class="itemTableHeaderPrice itemHeader">@Messages("price")</th>
    </tr>

    @list.records.map { e =>
    <tr class="itemTableBody">
      <td class="itemTableItemId"><a href="@routes.ItemMaintenance.startChangeItem(e._1.id.get)">@e._1.id</a></td>
      <td class="itemTableItemName">@e._2.name</td>
      <td class="itemTableSiteName">@e._4.name</td>
      <td class="itemTablePrice">@amount(e._5.unitPrice)</td>
    </tr>
    }
  </table>
  <br>
  @defining(Some(login)) { implicit loginSession =>
    @pagingPanel(
      list,
      routes.ItemMaintenance.editItem(queryString.toList, _: Int, _: Int, _: String),
      10, 25, 50
    )
  }

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.ItemMaintenance.index()">
      @Messages("backTo", Messages("itemMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
