@(queryString: String,
  list: Seq[(models.Item,
             models.ItemName,
             models.ItemDescription,
             models.Site,
             models.ItemPriceHistory,
             Map[ItemNumericMetadataType, ItemNumericMetadata],
             Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
             Map[ItemTextMetadataType, ItemTextMetadata]
  )]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("editItemTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("editItemTitle")</h1>

  @helper.form(action=routes.ItemMaintenance.editItem()) {
    <input id="searchBox" type="search" name="q" placeholder="@Messages("search.placeholder")" value="@queryString">
    <input id="searchSubmit" type="submit" value="@Messages("search.button.title")">
  }

  <br>

  <table class="itemTable">
    <tr>
      <th class="itemTableHeaderId itemHeader">id</th>
      <th class="itemTableHeaderItemName itemHeader">@Messages("itemName")</th>
      <th class="itemTableHeaderSiteName itemHeader">@Messages("site")</th>
      <th class="itemTableHeaderPrice itemHeader">@Messages("price")</th>
    </tr>

    @list.map { e =>
    <tr class="itemTableBody">
      <td class="itemTableItemName"><a href="@routes.ItemMaintenance.startChangeItem(e._1.id.get)">@e._1.id</a></td>
      <td class="itemTableItemName">@e._2.name</td>
      <td class="itemTableSiteName">@e._4.name</td>
      <td class="itemTablePrice">@amount(e._5.unitPrice)</td>
    </tr>
    }
  </table>

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.ItemMaintenance.index()">
      @Messages("backTo", Messages("itemMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
