@()(
  implicit lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("adminTitle"), Some(loginSession), contentCssClass = "adminContents") {
} {
  <h1 class="title">@Messages("adminTitle")</h1>

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @if(loginSession.isSuperUser) {
    <div class="menuItem">
      <a href="@routes.UserMaintenance.index()">
        @Messages("userMaintenanceTitle")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.SiteMaintenance.index()">
        @Messages("siteMaintenanceTitle")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.CategoryMaintenance.index()">
        @Messages("categoryMaintenanceTitle")
      </a>
    </div>
  }

  <div class="menuItem">
    <a href="@routes.ItemMaintenance.index()">
      @Messages("itemMaintenanceTitle")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.TransactionMaintenance.index()">
      @Messages("transactionMaintenanceTitle")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.AccountingBill.index()">
      @Messages("accountingBillTitle")
    </a>
  </div>

  @if(loginSession.isSuperUser) {
    <div class="menuItem">
      <a href="@routes.TaxMaintenance.index()">
        @Messages("taxMaintenanceTitle")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.TransporterMaintenance.index()">
        @Messages("transporterMaintenanceTitle")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.ShippingBoxMaintenance.index()">
        @Messages("shippingBoxMaintenanceTitle")
      </a>
    </div>
  }
}
