@()(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("itemMaintenanceTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("itemMaintenanceTitle")</h1>

  <div class="menuItem">
    <a href="@routes.ItemMaintenance.startCreateNewItem()">
      @Messages("createNewItemMenu")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.ItemMaintenance.editItem(List())">
      @Messages("editItemMenu")
    </a>
  </div>

  <div class="menuPanel">
    <br>
    @admin.backToAdminTop()
  </div>
}
