@(myForm: Form[models.LoginUser])(implicit token: play.filters.csrf.CSRF.Token)

@main(Messages("loginTitle")) {
  <h1>@Messages("loginTitle")</h1>

  @helper.form(action = helper.CSRF(routes.Admin.login()), 'id -> "loginForm") {
    @helper.inputText(
      myForm("userName"),
      '_label -> Messages("userName"), 'size -> 20
    )

    @helper.inputPassword(
      myForm("password"),
      '_label -> Messages("password"), 'size -> 20
    )

    <input type="submit" value='@Messages("login")'>
  }
}

