@(
  id: Long,
  myForm: Form[CreateNews]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession,
  flash: play.api.mvc.Flash
)

@import helper._

@fileUpload(id: Long, idx: Int) = {
  <table class="fileUploadTable">
    <tr>
      <td class="pictureUrl" colspan="3">URL: @routes.NewsPictures.getPicture(id, idx)</td>
    </tr>
    <tr>
      <td class="picture"><img src="@routes.NewsPictures.getPicture(id, idx)"></td>
      <td class="upload">
        @form(action = CSRF(routes.NewsPictures.upload(id, idx)), 'enctype -> "multipart/form-data") {
          <input id="newsPictureUpload@idx" type="file" name="picture">
          <input id="newsPictureUploadSubmit@idx" type="submit" value='@Messages("register")'>
        }
      </td>
      <td class="remove">
        @form(action = CSRF(routes.NewsPictures.remove(id, idx))) {
          <input id="newsPictureRemove@idx" type="submit" value="@Messages("remove")">
        }
      </td>
    </tr>
  </table>
}

@main(Messages("modifyNewsTitle"), Some(loginSession), contentCssClass = "adminContents") {
  <script src="@routes.Assets.at("javascripts/jquery.ui.datepicker-ja.js")" type="text/javascript"></script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector:'textarea',
      plugins: "image"
    });
  </script>
} {
  <script type="text/javascript">
    $(function() {
      $("#releaseDateTextBox").datepicker({
        dateFormat: 'yy年mm月dd日'
      });
    });
  </script>
  <h1 class="title">@Messages("modifyNewsTitle")</h1>

  @flash.get("errorMessage").map { message =>
    <div class="globalErrorMessage">
      @message
    </div>
  }

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.NewsMaintenance.modifyNews(id)), 'id -> "modifyNewsForm") {
    @helper.inputText(
      myForm("title"),
      '_label -> Messages("newsTitle"), 'size -> 80, 'maxlength -> 255
    )

    @textarea(
      myForm("contents"), '_label -> Messages("newsContents"),
      'rows -> 15, 'cols -> 80, 'id -> "newsContents"
    )

    @inputText(
      myForm("releaseDate"),
      '_label -> Messages("releaseDate"), 'id-> "releaseDateTextBox"
    )
    <input type="submit" value=@Messages("register")>
  }

  <h2 class="newsPicture">@Messages("newsPicture")</h2>

  @{(0 until 5) map { idx => fileUpload(id, idx)}}

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.NewsMaintenance.editNews()">
      @Messages("backTo", Messages("newsMaintenanceTitle"))
    </a>

    <br>
    @admin.backToAdminTop()
  </div>
}
