@(
  box: ShippingBox,
  fee: ShippingFee,
  updateForm: Form[ChangeFeeHistoryTable],
  addForm: Form[ChangeFeeHistory],
  taxTable: Seq[(String, String)]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("shippingFeeHistoryMaintenanceTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("shippingFeeHistoryMaintenanceTitle")</h1>

  <table class="shippingFeeHistory shippingInfo">
    <tr class="header">
      <th class="boxName">@Messages("boxName")</th>
      <th class="country">@Messages("country")</th>
      <th class="prefecture">@Messages("prefecture")</th>
    </tr>
    <tr class="body">
      <td class="boxName">@box.boxName</td>
      <td class="country">@Messages("country." + fee.countryCode)</td>
      <td class="prefecture">@JapanPrefecture.byIndex(fee.locationCode)</td>
    </tr>

    <table class="shippingFeeHistory history">
      <tr class="header">
      </tr>
      @form(action = helper.CSRF(routes.ShippingFeeMaintenance.changeHistory(fee.id.get))) {
        @repeat(updateForm("histories")) { his =>
          <tr>
            <td>
              @inputText(his("historyId"), 'type -> "hidden")(
                helper.FieldConstructor(simpleField.f), implicitly
              )

              @select(
                his("taxId"),
                taxTable,
                '_showConstraints -> false
              )(
                helper.FieldConstructor(simpleField.f), implicitly
              )
            </td>
    
            <td>
              @inputText(
                his("fee")
              )(
                helper.FieldConstructor(simpleField.f), implicitly
              )
            </td>
    
            <td>
              @inputText(
                his("validUntil")
              )(
                helper.FieldConstructor(simpleField.f), implicitly
              )
            </td>
          </tr>
        }

        <tr>
          <td colspan="3">
            <input style="float: right;" type="submit" value=@Messages("update")>
          </td>
        </tr>
      }

      @form(action = helper.CSRF(routes.ShippingFeeMaintenance.addHistory(fee.id.get))) {
        <tr>
          <td>
            @select(
              addForm("taxId"),
              taxTable,
              '_showConstraints -> false
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>

          <td>
            @inputText(
              addForm("fee")
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>
    
          <td>
            @inputText(
              addForm("validUntil")
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <input style="float: right;" type="submit" value=@Messages("add")>
          </td>
        </tr>
      }
    </table>
  </table>
}
