@()(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("taxMaintenanceTitle"), Some(loginSession)) {
  <h1 class="title">@Messages("taxMaintenanceTitle")</h1>

  <div class="menuItem">
    <a href="@routes.TaxMaintenance.startCreateNewTax()">
      @Messages("createNewTaxMenu")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.TaxMaintenance.editTax()">
      @Messages("editTaxMenu")
    </a>
  </div>

  <div class="menuPanel">
    <a class="backLink" href="@routes.Admin.index()">
      @Messages("backTo", Messages("adminTitle"))
    </a>
  </div>
}
