@()(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: models.LoginSession
)

@main(Messages("transporterMaintenanceTitle"), Some(loginSession), contentCssClass = "adminContents") {
} {
  <h1 class="title">@Messages("transporterMaintenanceTitle")</h1>

  <div class="menuItem">
    <a href="@routes.TransporterMaintenance.startCreateNewTransporter()">
      @Messages("createNewTransporterMenu")
    </a>
  </div>

  <div class="menuItem">
    <a href="@routes.TransporterMaintenance.editTransporter()">
      @Messages("editTransporterMenu")
    </a>
  </div>

  <div class="menuPanel">
    @admin.backToAdminTop()
  </div>
}
