@(
  tran: Seq[TransactionSummaryEntry],
  myForm: Form[ChangeTransactionStatus],
  statusTable: Seq[(String, String)],
  entryShippingInfoForms: scala.collection.immutable.LongMap[Form[ChangeShippingInfo]],
  transporterTable: Seq[(String, String)],
  transporters: scala.collection.immutable.LongMap[String]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("transactionMaintenanceTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("transactionMaintenanceTitle")</h1>

  <table class="transactionSummaryTable" border="0">
    <tr class="transactionSummaryHeader">
      <th>@Messages("transaction.id")</th>
      <th>@Messages("transaction.time")</th>
      <th>@Messages("site")</th>
      <th>@Messages("shipping.date")</th>
      <th>@Messages("transaction.amount")</th>
      <th>@Messages("shipping.fee")</th>
      <th>@Messages("buyer")</th>
      <th>@Messages("shipping.address")</th>
      <th>@Messages("transaction.status")</th>
    </tr>
    @tran.map { e =>
      <tr class="transactionSummaryBody">
        <td class="transactionId">
          <a href="@routes.TransactionMaintenance.detail(e.transactionSiteId)">
            @e.transactionId
          </a>
        </td>
        <td class="transactionTime">@yyyymmddhhmmss(e.transactionTime)</td>
        <td class="site">@e.siteName</td>
        <td class="shippingDate">@shippingDate(e.shippingDate)</td>
        <td class="transactionAmount">@amount(e.totalAmount - e.shippingFee)</td>
        <td class="transactionShipping">@amount(e.shippingFee)</td>
        <td class="buyer">
          @buyer(e.buyer)
        </td>
        <td class="transactionAddress">
          <table>
          @addressBody(e.address)
          </table>
        </td>
        <td>
          @transactionStatusForm(e, e.transactionSiteId, e.status.ordinal, myForm, statusTable, entryShippingInfoForms, transporterTable, transporters)
        </td>
      </tr>
    }
  </table>  

  <div class="menuPanel">
    <br>
    @admin.backToAdminTop()
  </div>
}
