@(
  tran: Seq[TransactionSummaryEntry],
  myForm: Form[ChangeTransactionStatus],
  statusTable: Seq[(String, String)],
  entryShippingInfoForms: scala.collection.immutable.LongMap[Form[ChangeShippingInfo]],
  transporterTable: Seq[(String, String)],
  transporters: scala.collection.immutable.LongMap[String]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("transactionMaintenanceTitle"), Some(loginSession)) {
  <h1 class="title">@Messages("transactionMaintenanceTitle")</h1>

  <table class="transactionSummaryTable" border="0">
    <tr class="transactionSummaryHeader">
      <th>@Messages("transaction.id")</th>
      <th>@Messages("transaction.time")</th>
      <th>@Messages("site")</th>
      <th>@Messages("shipping.date")</th>
      <th>@Messages("transaction.amount")</th>
      <th>@Messages("shipping.fee")</th>
      <th>@Messages("buyer")</th>
      <th>@Messages("shipping.address")</th>
      <th>@Messages("transaction.status")</th>
    </tr>
    @tran.map { e =>
      <tr class="transactionSummaryBody">
        <td class="transactionId">
          <a href="@routes.TransactionMaintenance.detail(e.transactionSiteId)">
            @e.transactionId
          </a>
        </td>
        <td class="transactionTime">@yyyymmddhhmmss(e.transactionTime)</td>
        <td class="site">@e.siteName</td>
        <td class="shippingDate">@shippingDate(e.shippingDate)</td>
        <td class="transactionAmount">@amount(e.totalAmount - e.shippingFee)</td>
        <td class="transactionShipping">@amount(e.shippingFee)</td>
        <td class="buyer">
          <span class="companyName">@{e.buyer.companyName.getOrElse("-")}</span><br>
          <span class="name">@{e.buyer.firstName + " " + e.buyer.middleName.getOrElse("") + " " + e.buyer.lastName}</span><br>
          <span class="email">@{e.buyer.email}</span>
        </td>
        <td class="transactionAddress">
          <table>
          @addressBody(e.address)
          </table>
        </td>
        <td>
          <table class="shippingStatusTable">
            <tr>
              <td>
                @form(action = helper.CSRF(routes.TransactionMaintenance.setStatus)) {
                  @defining(myForm.fill(ChangeTransactionStatus(e.transactionSiteId, e.status.ordinal))) { f =>
                    @inputText(f("transactionSiteId"), 'type -> "hidden", '_showConstraints -> false)(
                      helper.FieldConstructor(simpleField.f), implicitly
                    )

                    @select(
                      f("status"), statusTable, '_showConstraints -> false
                    )(
                      helper.FieldConstructor(simpleField.f), implicitly
                    )
                    <input id="changeShippingStatusButton" type="submit" value=@Messages("update")> 
                  }
                }
              </td>
              <td>
                @Messages("lastUpdate"): <span class="lastUpdate">@lastUpdate(e.statusLastUpdate)</span>
              </td>
            </tr>
          </table>
          @e.status match {
            case TransactionStatus.ORDERED => {
              @form(action = helper.CSRF(routes.TransactionMaintenance.entryShippingInfo(e.transactionSiteId))) {
                @select(
                  entryShippingInfoForms(e.transactionSiteId)("transporterId"),
                  transporterTable,
                  '_label -> Messages("transporter"),
                  '_showConstraints -> false
                )
                @inputText(
                  entryShippingInfoForms(e.transactionSiteId)("slipCode"),
                  '_label -> Messages("slipCode"), 'size -> 16, 'maxlength -> 128
                )

                <input class="changeShippingInfoButton" type="submit" value="@Messages("entryShippingInfo")">
              }
            }

            case TransactionStatus.SHIPPED => {
              <table class="shippingStatusTable">
                <tr>
                  <td class="transporterHeader">@Messages("transporter")</td>
                  <td class="transporter">@e.shipStatus.map(t => transporters(t.transporterId)).getOrElse("-")</td>
                </tr>
                <tr>
                  <td class="slipCodeHeader">@Messages("slipCode")</td>
                  <td class="slipCode">@e.shipStatus.map(_.slipCode).getOrElse("-")</td>
                </tr>
              </table>
            }

            case TransactionStatus.CANCELED => {
            }
          }
        </td>
      </tr>
    }
  </table>  

  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.Admin.index()">
      @Messages("backTo", Messages("adminTitle"))
    </a>
  </div>
}
