@(
  tranSummary: TransactionSummaryEntry,
  tran: Seq[TransactionDetail],
  myForm: Form[models.ChangeTransactionStatus],
  statusTable: Seq[(String, String)],
  entryShippingInfoForms: scala.collection.immutable.LongMap[Form[ChangeShippingInfo]],
  transporterTable: Seq[(String, String)],
  transporters: scala.collection.immutable.LongMap[String],
  boxNameByItemSize: Map[Long, String]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("transactionDetailTitle"), Some(loginSession), contentCssClass = "adminContents") {
} {
  <h1 class="title">@Messages("transactionDetailTitle")</h1>

  <a href="@routes.TransactionMaintenance.downloadCsv(tranSummary.transactionId, tranSummary.transactionSiteId)"
     class="csvDownload">@Messages("csvDownload")</a>
  <table class="transactionDetailTable" border="0">
    <tr class="transactionDetailHeader">
      <th>@Messages("itemName")</th>
      <th>@Messages("unitPrice")</th>
      <th>@Messages("quantity")</th>
      <th>@Messages("subtotal")</th>
    </tr>
    @tran.map { e =>
      <tr class="transactionSummaryBody">
        <td class="itemName">
          @e.itemName
        </td>
        <td class="unitPrice">
          @amount(e.unitPrice)
         </td>
        <td class="quantity">
          @e.quantity
        </td>
        <td class="subtotal">
          @amount(e.unitPrice * e.quantity)
        </td>
      </tr>
    }
  </table>
  <div class="menuPanel">
    <br>
    <a class="backLink" href="@routes.TransactionMaintenance.index()">
      @Messages("backTo", Messages("transactionMaintenanceTitle"))
    </a>
    <br>
    @admin.backToAdminTop()
  </div>
}

