@()(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@config = @{
  play.api.Play.maybeApplication.map(_.configuration).get
}

@siteOwnerCanUploadUserCsv = @{
  config.getBoolean("siteOwnerCanUploadUserCsv").getOrElse(false)
}

@main(Messages("userMaintenanceTitle"), Some(loginSession), contentCssClass = "adminContents") {
} {
  <h1 class="title">@Messages("userMaintenanceTitle")</h1>

  @if(loginSession.isSuperUser) {
    <div class="menuItem">
      <a href="@routes.UserMaintenance.startCreateNewSuperUser()">
        @Messages("createNewSuperUserMenu")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.UserMaintenance.startCreateNewSiteOwner()">
        @Messages("createNewSiteOwnerMenu")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.UserMaintenance.startCreateNewNormalUser()">
        @Messages("createNewNormalUserMenu")
      </a>
    </div>

    <div class="menuItem">
      <a href="@routes.UserMaintenance.editUser()">
        @Messages("editUserMenu")
      </a>
    </div>
  }

  @if(siteOwnerCanUploadUserCsv || loginSession.isSuperUser) {
    <div class="menuItem">
      <a href="@routes.UserMaintenance.startAddUsersByCsv()">
        @Messages("addUsersByCsv")
      </a>
    </div>
  }

  <div class="menuPanel">
    <br>
    @admin.backToAdminTop()
  </div>
}

