#my_navi_1 {float:left; width:150px; background-color:#d6d6bb;}
#my_navi_2 {float:right; width:150px; background-color:#d6d6bb;}
#my_contents {margin:0 150px;background-color:#ddd6bb;}
#my_footer {clear:both;}

#mynavileft{padding:1em 1em; 2em; 1em;}
#mynaviright{padding:1em 1em; 2em; 1em;}