#my_navi_1 {float:left; width:150px; background-color:#d6d6bb;}
#my_navi_2 {float:right; width:150px; background-color:#d6d6bb;}
#my_contents {margin:0 150px;}
#my_footer {clear:both;}

#mynavileft{padding:0.1em 0.1em 0.1em 0.1em;}
#mynaviright{padding:1em 1em 2em 1em;}

.info {
    font-weight: bold;
}

dd.error {
    color: red;
    font-weight: bold;
}

dl.error {
    background-color: MistyRose;
}

form dl {
    padding: 5px;
}

form dl dt {
    margin: 3px;
    background-color: Honeydew;
    padding: 3px;
}

form dl.error dt {
    background-color: Coral;
}

.globalMessage, .globalErrorMessage, .menuItem {
    padding: 10px;
    margin-bottom: 5px;
}

.menuItem {
    margin-left: 20px;
    background: AliceBlue;
    border-left: 10px solid blue;
}

.globalMessage {
    background: AliceBlue;
}

.globalErrorMessage {
    background: MistyRose;
    color: red;
    font-weight: bold;
}

.globalMessage, .globalErrorMessage, .menuItem, .message {
    padding: 10px;
    margin-bottom: 5px;
}

.menuItem {
    margin-left: 20px;
    background: lightcyan;
    border-left: 10px solid darkgreen;
}

.message {
    margin-left: 10px;
    background: lightcyan;
}

.itemHeader {
    background: blue;
    color: white;
}

.itemHeader a {
  color: white;
}

.itemTableHeaderId {
    width: 10%;
}

.itemTableHeaderItemName {
    width: 40%;
}

.itemTableHeaderSiteName {
    width: 30%;
}

.itemTableHeaderPrice {
    width: 20%;
}

.itemTablePrice {
    text-align: right;
}

.itemTable {
    width: 90%;
}

.error {
    background: PapayaWhip;
    color: red;
    font-weight: bold;
}

table.itemTable {
    width: 90%;
    background-color: DarkGreen;
}

table.transactionSummaryTable {
    width: 90%;
    background-color: DarkGreen;
}

table.transactionDetailTable {
    width: 90%;
    background-color: DarkGreen;
}

table.userTable {
    width: 90%;
    background-color: DarkGreen;
}

tr.itemTableHeader {
    background-color: DarkGreen;
    color: White;
}

tr.transactionSummaryHeader {
    background-color: DarkGreen;
    color: White;
}

tr.transactionDetailHeader {
    background-color: DarkGreen;
    color: White;
}

tr.userTableHeader {
    background-color: DarkGreen;
    color: White;
}

tr.itemTableBody {
    background-color: white;
}

tr.transactionSummaryBody {
    background-color: white;
}

tr.userTableBody {
    background-color: white;
}

.shipping {
    width: 600px;
    cell-spacing: 1px;
    vertical-align: top;
    background-color: DarkGreen;
}

.grandTotalTable {
    width: 600px;
    cell-spacing: 1px;
    vertical-align: top;
    background-color: DarkGreen;
}

.salesTotal {
    width: 600px;
    cell-spacing: 1px;
    vertical-align: top;
    background-color: DarkGreen;
}

.shippingAddress {
    width: 500px;
    cell-spacing: 1px;
    vertical-align: top;
    background-color: DarkGreen;
}

.shippingTableHeader {
    background-color: DarkGreen;
    color: White;
}

.salesTotalHeader {
    background-color: DarkGreen;
    color: White;
}

.grandTotalHeader {
    background-color: DarkGreen;
    color: White;
}

.shippingTableBody {
    vertical-align: top;
    background-color: White;
}

.shippingTableBody {
    vertical-align: top;
    background-color: White;
}

.salesTotalBody {
    vertical-align: top;
    background-color: White;
}

.grandTotalBody {
    vertical-align: top;
    background-color: White;
}

.subtotal {
  text-align: right;
}

.outerTaxAmount {
  text-align: right;
}

.grandTotal {
  text-align: right;
}

.itemPhoto {
  max-width: 80px;
  max-height: 80px;
}

.itemDetailPictureMain {
  height: 320px;
}

.itemDetailPanel2 .itemDetailPictureMain {
  height: 500px;
}

.itemDetailPanel2 .itemDetailPhotoSub {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}

.itemDetailPanel2 .itemDetailPicture {
  width: 500px;
}

.itemDetailPanel2 .itemDetailPhoto {
  max-width: 500px;
  max-height: 500px;
  padding-bottom: 10px;
}

.itemDetailPhoto {
  max-width: 320px;
  max-height: 320px;
  padding-bottom: 10px;
}

.itemDetailPhotoSub {
  max-width: 53px;
  max-height: 53px;
  cursor: pointer;
}

.itemPrice {
  text-align: right;
}

.itemQuantity {
  text-align: right;
}

.boxSize {
  text-align: right;
}

.boxPrice {
  text-align: right;
}

.boxUnitPrice {
  text-align: right;
}

.boxQuantity {
  text-align: right;
}

.transactionAmount {
  text-align: right;
}

.transactionShipping {
  text-align: right;
}

.itemDetailPicture {
  float: left;
  width: 330px;
}

#itemPicturePanel {
  width: 510px;
}

.itemDetailBody {
  margin-left: 330px;
  border-style: solid;
  border-width: 1px;
}

.itemDetailItemName {
  border-bottom: solid;
  font-size: 200%;
  padding: 5px;
}

.itemDetailItemPrice .value {
  text-align: right;
}

.itemDetailListPrice .value {
  text-align: right;
}

.itemNumericMetadataHEIGHT {
  text-align: right;
}

.itemDetailMain {
  padding: 5px;
}

.itemDetailDescription {
  border-top: solid;
  padding: 5px;
}

.itemDetailCartPanel {
  margin: 10px 30px 10px 30px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

.queryItemTable {
  width: 80%;
}

.transactionEndMessage {
  border-style: solid;
  border-width: 1px;
  font-size: 140%;
}

.shoppingCartTable {
  width: 80%;
}

.toEnterShippingAddress {
  width: 90%;
}

.toEnterShippingAddressInner {
  float: right; padding: 20px;
}

.pagingPanel {
  width: 80%; text-align: right;
}

.transporterTable {
  width: 80%;
  cell-spacing: 1px;
  vertical-align: top;
}

#catTree {
  padding: 10px;
}

#queryByCheckBoxButtonPanel {
  padding: 10px;
}

#loginPanel {
  display:inline-block;
}

.shippingFeeHistoryDate {
  margin: 10px;
}

.shippingFeeHeader {
  margin: 10px;
}

.shippingFeeList {
  margin: 10px;
}

.newShippingFeeEntry {
  margin: 10px;
}

.csvDownload {
  border-style: solid;
  border-width: 1px;
  float: right;
  padding: 10px;
  margin: 10px;
}

table.siteTable {
    width: 90%;
    background-color: DarkGreen;
}

table.recommendationByAdminTable {
    width: 90%;
    background-color: DarkGreen;
}

tr.siteTableHeader {
    background-color: DarkGreen;
    color: White;
}

tr.recommendationByAdminTable.header {
    background-color: DarkGreen;
    color: White;
}

tr.siteTableBody {
    background-color: white;
}

tr.recommendationByAdminTable.body {
    background-color: white;
}

.itemDetailPanel1 {
  float: left;
  width: 330px;
}

.itemDetailPanel2 {
  margin-left: 330px;
}

#setItemPanel {
  clear:both;
}

#detailFooter1 {
  float: left;
  width: 300px;
}

#detailFooter2 {
  margin-left: 300px;
}

#itemDetailFooter3 {
  float: right;
}

.orderHistoryTable tr {
  vertical-align: top;
}

.orderHistoryInnerTable2 tr {
  vertical-align: top;
}

.orderHistoryInnerTable4 td {
  text-align: left;
}

.orderHistoryTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    margin: 2px;
}

.orderHistoryInnerTable3 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.orderHistoryInnerTable4 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.orderHistoryInnerTable3Header {
    background: LightGray;
    border: 1px solid;
}

.orderHistoryInnerTable4Header {
    background: LightGray;
    border: 1px solid;
}

.orderHistoryInnerTable3Body {
    border: 1px solid;
}

.orderHistoryInnerTable4Body {
    border: 1px solid;
}

.orderHistoryInnerTable4 th.boxPrice {
    text-align: center;
}

.orderHistoryInnerTable4 td.boxPrice {
    text-align: right;
}

.orderHistoryInnerTable3Body.subtotalHeader {
    border: none;
}

.orderHistoryInnerTable3Body.price {
    text-align: right;
}

.orderHistoryInnerTable3Body.quantity {
    text-align: right;
}

.accountingBillTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    margin: 2px;
}

.accountingBillTable .body {
    border: 1px solid;
}

.accountingBillTable .header {
    border: 1px solid;
}

.accountingBillTable td.quantity {
    text-align: right;
}

.accountingBillTable td.price {
    text-align: right;
}

.accountingBillTable td.unitPrice {
    text-align: right;
}

.accountingBillTable td.boxCount {
    text-align: right;
}

.accountingBillTable td.boxPrice {
    text-align: right;
}

.accountingBillTable td.tax {
    text-align: right;
}

.accountingBillTable td.total {
    text-align: right;
}

.accountingBillTable td.subtotal {
    text-align: right;
}

.accountingBillTable .tax.header {
    text-align: right;
}

.accountingBillHeaderTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.accountingBillHeaderTable td {
    border: 1px solid;
}

.accountingBillTable .transactionStatus {
    padding-bottom: 20px;
}

#comment_field {
    margin-top: 1em;
}

#cartDialogContent {
    width: 100%;
}

#cartDialogCurrentContent, #cartDialogAddedContent {
    width: 100%;
}

#cartDialogCurrentContent .header {
    text-align: center;
}

#cartDialogCurrentContent .body.unitPrice {
    text-align: right;
}

#cartDialogCurrentContent .body.quantity {
    text-align: right;
}

#cartDialogCurrentContent .body.price {
    text-align: right;
}

#cartDialogAddedContent .header {
    text-align: center;
}

#cartDialogAddedContent .body.unitPrice {
    text-align: right;
}

#cartDialogAddedContent .body.quantity {
    text-align: right;
}

#cartDialogAddedContent .body.price {
    text-align: right;
}

#cartDialogAddedContent {
    background: Moccasin;
}

#cartDialogCurrentTitle {
    vertical-align: bottom;
    height: 3em;
}

#cartDialogCurrentTitle, #cartDialogAddedTitle, .recommendedItemTitle {
    font-weight: bold;
    font-size: 130%;
}

.recommendedItem {
  display: inline-block;
  padding: 4px;
  margin: 2px;
  vertical-align: top;
}

.recommendedItemImage {
  max-width: 88px;
  max-height: 88px;
}

.recommendedItem .itemName {
  max-width: 200px;
  max-height:200px;
}

.body .score {
  text-align: right;
}

#recommendedContent {
  margin:1em 1em 2em 1em;
}

.couponDetail {
  vertical-align: top;
}

.couponDetail .date {
  text-align: right;
}

#forgetPasword {
  line-height:3em;
}

.updateCategoryName.language {
    width: 6em;
}

.updateCategoryName.categoryName {
    width: 60%;
}

.updateCategoryName.categoryName input {
    width: 98%;
}

.createCategoryName.language {
    width: 6em;
}

.createCategoryName.categoryName {
    width: 60%;
}

.createCategoryName.categoryName input {
    width: 98%;
}

#qaType_field > label {
  display: none;
}

.expiredItem {
  margin:1em 1em 2em 1em;
}

.qthumItem {
  width: 300px;
  height: 350px;
  float: left;
  border: 1px solid #EEEEEF;
  margin: 0px 4px 32px;
  padding: 5px;
}

#advancedQueryMenu {
    width: 300px;
    float: left;
    display: block;
}

#my_contents_without_menu {
    margin: 0 300px;
}

#pagingPaneDestination {
    clear: both;
}

.itemNotFound {
  text-align: center;
  padding: 30px;
}
