#my_navi_1 {float:left; width:150px; background-color:#d6d6bb;}
#my_navi_2 {float:right; width:150px; background-color:#d6d6bb;}
#my_contents {margin:0 150px;}
#my_footer {clear:both;}

#mynavileft{padding:0.1em 0.1em 0.1em 0.1em;}
#mynaviright{padding:1em 1em 2em 1em;}

.info {
    font-weight: bold;
}

dd.error {
    color: red;
    font-weight: bold;
}

dl.error {
    background-color: MistyRose;
}

form dl {
    padding: 5px;
}

form dl dt {
    margin: 3px;
    background-color: Honeydew;
    padding: 3px;
}

form dl.error dt {
    background-color: Coral;
}

.globalMessage, .globalErrorMessage, .menuItem {
    padding: 10px;
    margin-bottom: 5px;
}

.menuItem {
    margin-left: 20px;
    background: AliceBlue;
    border-left: 10px solid blue;
}

.globalMessage {
    background: AliceBlue;
}

.globalErrorMessage {
    background: MistyRose;
    color: red;
    font-weight: bold;
}

.globalMessage, .globalErrorMessage, .menuItem, .message {
    padding: 10px;
    margin-bottom: 5px;
}

.menuItem {
    margin-left: 20px;
    background: lightcyan;
    border-left: 10px solid darkgreen;
}

.message {
    margin-left: 10px;
    background: lightcyan;
}

.itemHeader {
    background: blue;
    color: white;
}

.itemTableHeaderId {
    width: 10%;
}

.itemTableHeaderItemName {
    width: 40%;
}

.itemTableHeaderSiteName {
    width: 30%;
}

.itemTableHeaderPrice {
    width: 20%;
}

.itemTablePrice {
    text-align: right;
}

.itemTable {
    width: 90%;
}

.error {
    background: PapayaWhip;
    color: red;
    font-weight: bold;
}

table.itemTable {
    width: 90%;
    background-color: DarkGreen;
}

tr.itemTableHeader {
    background-color: DarkGreen;
    color: White;
}

tr.itemTableBody {
    background-color: white;
}

.shippingAddress {
    width: 500px;
    cell-spacing: 1px;
    vertical-align: top;
    background-color: DarkGreen;
}

.shippingTableHeader {
    background-color: DarkGreen;
    color: White;
}

.shippingTableBody {
    vertical-align: top;
    background-color: White;
}
