@()
件名：【Saite360】ご注文ありがとうございました。　&lt;注文番号&gt;

本文：

「ユーザー会社名」
「ユーザー名(性、名)」様

この度は植物販売サイト「Saite360」をご利用頂きまして
誠にありがとうございます。
ご注文を以下の内容で承りましたので、お知らせします。

&lt;ご注文商品&gt;
サプライヤー
商品名/サイズ/数量/小計
小計
外税額
商品計

&lt;送料&gt;
箱/箱単価/個数/金額

配送希望日

※サプライヤーがわかれる場合こちらに内容を追加

&lt;合計&gt;
商品計/個数/小計
送料計/個数/小計
合計

&lt;お届け先&gt;
お届け先：
性　名
カナ()
郵便番号：
都道府県：
住所：
電話番号：
配送希望日：

本メールは、ご注文の受領を確認するものです。
商品発送のお知らせをもってご購入とさせていただきます。

◇◆◆◇◆━━━━◇◆◆◇◆━━━━◇◆◆◇◆
株式会社ユニマットリバティー　リックカンパニー 
Saite360運営部　担当：林
E-mail：info@@saite.jp
https://www.saite.jp/
〒107-0062                         
東京都港区南青山2-13-18
TEL：03-5411-7010　　FAX：03-5411-0960
◇◆◆◇◆━━━━◇◆◆◇◆━━━━◇◆◆◇◆
