@(
  summaries: Seq[TransactionSummaryEntry],
  detailByTranSiteId: scala.collection.immutable.LongMap[Seq[TransactionDetail]],
  boxBySiteAndItemSize: scala.collection.immutable.LongMap[scala.collection.immutable.LongMap[TransactionLogShipping]],
  siteTranByTranId: scala.collection.immutable.LongMap[PersistedTransaction],
  useCostPrice: Boolean,
  addresses: Map[Long, Address]
)(
  implicit lang: Lang,
  loginSession: LoginSession
)

@import scala.collection.immutable.LongMap

@itemPrice(tranDetail: TransactionDetail) = @{
  if (useCostPrice) tranDetail.costPrice else tranDetail.price
}

@itemSubtotal(ptran: PersistedTransaction) = @{
  if (useCostPrice) ptran.costPriceTotal else ptran.itemTotal
}

@outerTaxTotal(siteId: Long, ptran: PersistedTransaction) = @{
  if (useCostPrice) ptran.outerTaxWhenCostPrice(siteId)
  else ptran.outerTaxTotal(siteId)
}

@total(siteId: Long, ptran: PersistedTransaction) = @{
  itemSubtotal(ptran)(siteId) + ptran.boxTotal(siteId) + outerTaxTotal(siteId, ptran)
}

@summaries.map { e =>
  <table class="accountingBillTable">
    <tr>
      <td colspan="3">
        <table class="accountingBillHeaderTable">
          <tr>
            <td class="tranId">@e.transactionId</td>
            <td class="tranDateTime">@yyyymmddhhmm(e.transactionTime)</td>
            <td class="tranBuyer">@name(e.buyer)</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="transactionStatus" colspan="3">
        <span class="status">
          @Messages("transaction.status." + e.status)
        </span>
        <span class="shippingDate">
          @shippingDate(e.shippingDate)
        </span>
      </td>
    </tr>
    <tr>
      <td class="address zip" colspan="3">
        <table>
          @addressBody(addresses(siteTranByTranId(e.transactionId).shippingTable(e.siteId).head.addressId))
        </table>
      </td>
    </tr>
    <tr>
      <th class="itemName header">@Messages("itemName")</th>
      <th class="quantity header">@Messages("quantity")</th>
      <th class="price header">@Messages("price")</th>
    </tr>
    @detailByTranSiteId(e.transactionSiteId).map { t =>
      <tr>
        <td class="itemName body">@t.itemName</td>
        <td class="quantity body">@t.quantity</td>
        <td class="price body">@amount(itemPrice(t))</td>
      </tr>
    }

    <tr>
      <td></td>
      <td class="subtotal header">@Messages("subtotal")</td>
      <td class="subtotal body">@amount(itemSubtotal(siteTranByTranId(e.transactionId))(e.siteId))</td>
    </tr>

    @boxBySiteAndItemSize.get(
      e.transactionSiteId
    ).getOrElse(LongMap[TransactionLogShipping]()).values.map { box =>
      <tr>
        <td class="boxName body">@box.boxName</td>
        <td class="boxCount body">@box.boxCount</td>
        <td class="boxPrice body">@amount(box.amount)</td>
      </tr>
    }

    <tr>
      <td></td>
      <td class="subtotal header">@Messages("fee.total")</td>
      <td class="subtotal box body">@amount(siteTranByTranId(e.transactionId).boxTotal(e.siteId))</td>
    </tr>

    <tr>
      <td></td>
      <td class="tax header">@Messages("outer.tax.amount")</td>
      <td class="tax body">@amount(outerTaxTotal(e.siteId, siteTranByTranId(e.transactionId)))</td>
    </tr>

    <tr>
      <td></td>
      <td class="total header">@Messages("total")</td>
      <td class="total body">@amount(total(e.siteId, siteTranByTranId(e.transactionId)))</td>
    </tr>
  </table>    
}
