@(
  accountingBillForm: Form[YearMonth],
  accountingStoreBillForm: Form[YearMonthSite],
  summaries: Seq[TransactionSummaryEntry],
  detailByTranSiteId: scala.collection.immutable.LongMap[Seq[TransactionDetail]],
  boxBySiteAndItemSize: scala.collection.immutable.LongMap[scala.collection.immutable.LongMap[TransactionLogShipping]],
  siteTranByTranId: scala.collection.immutable.LongMap[PersistedTransaction],
  useCostPrice: Boolean,
  siteDropDown: Seq[(String, String)],
  addresses: Map[Long, Address]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._
@import views.fieldctors.FieldConstructors.showOnlyRequired
@import scala.collection.immutable.LongMap

@main(Messages("accountingBillTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("accountingBillTitle")</h1>

  <table>
    @form(action = CSRF(routes.AccountingBill.show()), 'id -> "showAccountingBillForm") {
      <tr valign="top">
        @if(loginSession.isSuperUser) {
          <td colspan="2">@Messages("user")</td>
        }
        <td>
          @inputText(
            accountingBillForm("year"),
            'size -> 4, 'maxLength -> 4, '_showConstraints -> false,
            'id -> "userYear"
          )(
            helper.FieldConstructor(simpleField.f), implicitly
          )
        </td>
        <td>@Messages("year")</td>
        <td>
          @inputText(
            accountingBillForm("month"),
            'size -> 2, 'maxLength -> 2, '_showConstraints -> false,
            'id -> "userMonth"
          )(
            helper.FieldConstructor(simpleField.f), implicitly
          )
        </td>
        <td>@Messages("month")</td>
        <td>
          <input type="submit" id="userSubmit" value="@Messages("showAccountingBill")">
        </td>
      </tr>
    }

    @if(loginSession.isSuperUser) {
      @form(action = CSRF(routes.AccountingBill.showForStore()), 'id -> "showAccountingStoreBillForm") {
        <tr valign="top">
          <td>@Messages("site")</td>
          <td>
            @select(
              accountingStoreBillForm("site"), siteDropDown, '_showConstraints -> false, 'id -> "siteDropDown"
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>
          <td>
            @inputText(
              accountingStoreBillForm("year"),
              'size -> 4, 'maxLength -> 4, '_showConstraints -> false,
              'id -> "storeYear"
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>
          <td>@Messages("year")</td>
          <td>
            @inputText(
              accountingStoreBillForm("month"),
              'size -> 2, 'maxLength -> 2, '_showConstraints -> false,
              'id -> "storeMonth"
            )(
              helper.FieldConstructor(simpleField.f), implicitly
            )
          </td>
          <td>@Messages("month")</td>
          <td>
            <input type="submit" id="storeSubmit" value="@Messages("showAccountingBill")">
          </td>
        </tr>
      }
    }
  </table>

  @accountingBillTable(summaries, detailByTranSiteId, boxBySiteAndItemSize, siteTranByTranId, useCostPrice, addresses)
}
