@(
  accountingBillForm: Form[YearMonth],
  summaries: Seq[TransactionSummaryEntry],
  detailByTranSiteId: scala.collection.immutable.LongMap[Seq[TransactionDetail]],
  boxBySiteAndItemSize: scala.collection.immutable.LongMap[scala.collection.immutable.LongMap[TransactionLogShipping]],
  siteTranByTranId: scala.collection.immutable.LongMap[PersistedTransaction],
  useCostPrice: Boolean
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._
@import views.fieldctors.FieldConstructors.showOnlyRequired
@import scala.collection.immutable.LongMap

@main(Messages("accountingBillTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("accountingBillTitle")</h1>

  @form(action = CSRF(routes.AccountingBill.show()), 'id -> "showAccountingBillForm") {
    <table>
      <tr valign="top">
        @if(loginSession.isSuperUser) {
          <td>
            @Messages("user")
          </td>
        }
        <td>
          @inputText(
            accountingBillForm("year"),
            'size -> 4, 'maxLength -> 4, '_showConstraints -> false
          )(
            helper.FieldConstructor(simpleField.f), implicitly
          )
        </td>
        <td>@Messages("year")</td>
        <td>
          @inputText(
            accountingBillForm("month"),
            'size -> 2, 'maxLength -> 2, '_showConstraints -> false
          )(
            helper.FieldConstructor(simpleField.f), implicitly
          )
        </td>
        <td>@Messages("month")</td>
        <td>
          <input type="submit" value="@Messages("showAccountingBill")">
        </td>
      </tr>
    </table>
  }

  @accountingBillTable(summaries, detailByTranSiteId, boxBySiteAndItemSize, siteTranByTranId, useCostPrice)
}
