@(
  address: Address,
  showEmail: Boolean = false
)(implicit lang: Lang)

@import java.util.Locale

@if(address.hasName) {
  <tr class="shippingTableBody courtesyName">
    <td>@Messages("courtesyName")</td><td class="name">@address.firstName @address.lastName</td>
  </tr>
}
@if(address.hasKanaName) {
  <tr class="shippingTableBody furiganaKana">
    <td>@Messages("furiganaKana")</td><td class="nameKana">@address.firstNameKana @address.lastNameKana</td>
  </tr>
}
@if(showEmail) {
  <tr class="shippingTableBody email">
    <td>@Messages("email")</td><td class="email">@address.email</td>
  </tr>
}
@if(address.hasZip) {
  <tr class="shippingTableBody zipLine">
    <td>@Messages("zipMark")</td><td class="zip">@address.zip1 - @address.zip2</td>
  </tr>
}
<tr class="shippingTableBody address">
  <td class="addressHeader">@Messages("courtesyAddress")</td>
  <td class="address">
    @if(! address.prefecture.isUnknown) {
      <span class="prefecture">@address.prefecture</span><br>
    }

    @if(!address.address1.isEmpty) {
      <span class="address1">@address.address1</span><br>
    }

    @if(!address.address2.isEmpty) {
      <span class="address2">@address.address2</span><br>
    }

    @if(!address.address3.isEmpty) {
      <span class="address3">@address.address3</span><br>
    }

    @if(!address.address4.isEmpty) {
      <span class="address4">@address.address4</span><br>
    }

    @if(!address.address5.isEmpty) {
      <span class="address5">@address.address5</span><br>
    }
  </td>
</tr>
@if(!address.tel1.isEmpty) {
  <tr class="shippingTableBody tel1Line">
    <td>TEL</td><td class="tel1">@address.tel1</td>
  </tr>
}
@if(!address.tel2.isEmpty) {
  <tr class="shippingTableBody tel2Line">
    <td></td><td class="tel2">@address.tel2</td>
  </tr>
}
@if(!address.tel3.isEmpty) {
  <tr class="shippingTableBody tel3Line">
    <td></td><td class="tel3">@address.tel3</td>
  </tr>
}
@if(!address.comment.isEmpty) {
  <tr class="shippingTableBody">
    <td>@Messages("comment")</td><td class="comment">@address.comment</td>
  </tr>
}
