@(address: Address)(implicit lang: Lang)

@import java.util.Locale

@if(address.hasName) {
  <tr class="shippingTableBody">
    <td>お名前</td><td>@address.firstName @address.lastName</td>
  </tr>
}
@if(address.hasKanaName) {
  <tr class="shippingTableBody">
    <td>フリガナ</td><td>@address.firstNameKana @address.lastNameKana</td>
  </tr>
}
@if(address.hasZip) {
  <tr class="shippingTableBody">
    <td>〒</td><td>@address.zip1 - @address.zip2</td>
  </tr>
}
<tr class="shippingTableBody">
  <td>ご住所</td>
  <td>
    @if(! address.prefecture.isUnknown) {
      @address.prefecture<br>
    }

    @if(!address.address1.isEmpty) {
      @address.address1<br>
    }

    @if(!address.address2.isEmpty) {
      @address.address2<br>
    }

    @if(!address.address3.isEmpty) {
      @address.address3<br>
    }

    @if(!address.address4.isEmpty) {
      @address.address4<br>
    }

    @if(!address.address5.isEmpty) {
      @address.address5<br>
    }
  </td>
</tr>
@if(!address.tel1.isEmpty) {
  <tr class="shippingTableBody">
    <td>TEL</td><td>@address.tel1</td>
  </tr>
}
@if(!address.tel2.isEmpty) {
  <tr class="shippingTableBody">
    <td></td><td>@address.tel2</td>
  </tr>
}
@if(!address.tel3.isEmpty) {
  <tr class="shippingTableBody">
    <td></td><td>@address.tel3</td>
  </tr>
}
