@(
  cart: Seq[ShoppingCartTotalEntry],
  addr: Address,
  itemClass: Option[Long]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("cannot.ship.title"), Some(loginSession)) {
} {
  <h2 class="title">@Messages("cannot.ship")</h2>

  <table class="itemTable" border="0">
    <tr class="itemTableHeader">
      <th class="itemNameHeader">@Messages("itemName")</th>
      <th class="siteNameHeader">@Messages("site")</th>
    </tr>
    @cart.map { item =>
      <tr class="itemTableBody">
        <td class="itemName">@item.itemName.name</td>
        <td class="siteName">@item.site.name</td>
      </tr>
    }
  </table>

  <br>
  <a class="backToCartLink" href="@routes.Purchase.showShoppingCart()">@Messages("shopping.cart")へ戻る</a>
  <a class="backToShippingLink" href="@routes.Shipping.startEnterShippingAddress()">@Messages("enter.shipping.address")へ戻る</a>
}
