@(
  myForm: Form[ChangePassword]
)(
  implicit lang: Lang,
  token: play.filters.csrf.CSRF.Token,
  request: RequestHeader
)

@import helper._

@main(Messages("changePassword"), None) {
} {
  <h1 class="title">@Messages("changePassword")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @myForm.globalErrors.map { e =>
    <div class="globalErrorMessage">
      @e.message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.UserEntry.changePassword()), 'id -> "changePasswordForm") {
    @helper.inputPassword(
      myForm("currentPassword"),
      '_label -> Messages("currentPassword"), 'size -> 24
    )

    @helper.inputPassword(
      myForm("newPassword.main"),
      '_label -> Messages("password"), 'size -> 24, 'maxlength -> 24
    )

    @helper.inputPassword(
      myForm("newPassword.confirm"),
      '_label -> (Messages("password.confirm")), 'size -> 24, 'maxlength -> 24,
      '_error -> myForm.error("newPassword")
    )

    <input type="submit" id="doResetPasswordButton" value='@Messages("submit")'>
  }
}

