@(
  list: ShoppingCartTotal,
  address: Address,
  shippingFee: ShippingTotal
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._

@main(Messages("confirm.shipping.address")) {
  <h1>お買い上げ商品</h1>
  @if(list.notEmpty) {
    <table class="itemTable" border="0">
      <tr class="itemTableHeader">
        <th>@Messages("itemName")</th>
        <th>@Messages("site")</th>
        <th>@Messages("quantity")</th>
        <th>@Messages("subtotal")</th>
        <th>@Messages("size")</th>
      </tr>

      @list.table.map { e =>
        <tr class="itemTableBody">
          <td class="itemName">@e.itemName.name</td>
          <td class="siteName">@e.site.name</td>
          <td class="itemQuantity" style="text-align: right;">@e.shoppingCartItem.quantity</td>
          <td class="itemPrice" style="text-align: right;">@amount(e.itemPrice)</td>
          <td class="itemSize">
            @{e.siteItemNumericMetadata.get(SiteItemNumericMetadataType.SHIPPING_SIZE).map {
              m => Messages("item.size." + m.metadata)
            }.getOrElse("-")}
          </td>
        </tr>
      }
    </table>
  }

  <h1>送料</h1>
  @shippingFee.table.map { e =>
    <h2 class="shippingSiteName">@e._1.name</h2>
    <table class="shipping">
      <tr class="itemTableHeader">
        <th>箱</th>
        <th>箱単価</th>
        <th>個数</th>
        <th>金額</th>
      </tr>

      @e._2.map { e2 =>
        <tr class="shippingTableBody">
          <td class="boxName">@e2._2.shippingBox.boxName</td>
          <td class="boxUnitPrice" style="text-align: right;">@amount(e2._2.boxPrice)</td>
          <td class="boxQuantity" style="text-align: right;">@e2._2.boxQuantity 個</td>
          <td class="boxPrice" style="text-align: right;">@amount(e2._2.boxTotal)</td>
        </tr>
      }
    </table>
  }

  <h1>合計</h1>
  <table class="salesTotal">
    <tr class="salesTotalHeader">
      <th></th>
      <th>個数</th>
      <th>小計</th>
    </tr>
    <tr class="salesTotalBody">
      <td>商品計</td>
      <td class="itemQuantity" style="text-align: right;">@list.quantity 個</td>
      <td class="itemPrice" style="text-align: right;">@amount(list.total)</td>
    </tr>
    <tr class="salesTotalBody">
      <td>送料計</td>
      <td class="itemQuantity" style="text-align: right;">@shippingFee.boxQuantity 個</td>
      <td class="itemPrice" style="text-align: right;">@amount(shippingFee.boxTotal)</td>
    </tr>
    <tr class="salesTotalBody">
      <td colspan="2">合計</td>
      <td class="itemPrice" style="text-align: right;">@amount(list.total + shippingFee.boxTotal)</td>
    </tr>
  </table>

  <h1>送付先</h1>
  <table class="shippingAddress">
    <tr class="shippingTableHeader">
      <th colspan="2">送付先</th>
    </tr>
    @if(address.hasName) {
      <tr class="shippingTableBody">
        <td>お名前</td><td>@address.firstName @address.lastName</td>
      </tr>
    }
    @if(address.hasKanaName) {
      <tr class="shippingTableBody">
        <td>フリガナ</td><td>@address.firstNameKana @address.lastNameKana</td>
      </tr>
    }
    @if(address.hasZip) {
      <tr class="shippingTableBody">
        <td>〒</td><td>@address.zip1 - @address.zip2</td>
      </tr>
    }
    <tr class="shippingTableBody">
      <td>ご住所</td>
      <td>
        @if(! address.prefecture.isUnknown) {
          @address.prefecture<br>
        }

        @if(!address.address1.isEmpty) {
          @address.address1<br>
        }

        @if(!address.address2.isEmpty) {
          @address.address2<br>
        }

        @if(!address.address3.isEmpty) {
          @address.address3<br>
        }

        @if(!address.address4.isEmpty) {
          @address.address4<br>
        }

        @if(!address.address5.isEmpty) {
          @address.address5<br>
        }
      </td>
    </tr>
    @if(!address.tel1.isEmpty) {
      <tr class="shippingTableBody">
        <td>TEL</td><td>@address.tel1</td>
      </tr>
    }
    @if(!address.tel2.isEmpty) {
      <tr class="shippingTableBody">
        <td></td><td>@address.tel2</td>
      </tr>
    }
    @if(!address.tel3.isEmpty) {
      <tr class="shippingTableBody">
        <td></td><td>@address.tel3</td>
      </tr>
    }
  </table>

  <br>
  <a href="@routes.Purchase.showShoppingCart()">@Messages("shopping.cart")へ戻る</a>
  <a href="@routes.Shipping.startEnterShippingAddress()">@Messages("enter.shipping.address")へ戻る</a>

  <br>
  <br>
  @helper.form(action = helper.CSRF(routes.Shipping.finalizeTransactionJa()), 'id -> "finalizeTransactionForm") {
    <input type="submit" value="@Messages("finalize.transaction")">
  }
}
