@(
  tran: Transaction
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("confirm.shipping.address"), Some(loginSession)) {
  <h1>お買い上げ商品</h1>
  @if(tran.itemTotal.notEmpty) {
    <table class="itemTable" border="0">
      <tr class="itemTableHeader">
        <th>@Messages("itemName")</th>
        <th>@Messages("site")</th>
        <th>@Messages("size")</th>
        <th>@Messages("quantity")</th>
        <th>@Messages("subtotal")</th>
      </tr>

      @tran.itemTotal.table.map { e =>
        <tr class="itemTableBody">
          <td class="itemName">@e.itemName.name</td>
          <td class="siteName">@e.site.name</td>
          <td class="itemSize">
            @{e.siteItemNumericMetadata.get(SiteItemNumericMetadataType.SHIPPING_SIZE).map {
              m => Messages("item.size." + m.metadata)
            }.getOrElse("-")}
          </td>
          <td class="itemQuantity" style="text-align: right;">@e.shoppingCartItem.quantity</td>
          <td class="itemPrice" style="text-align: right;">@amount(e.itemPrice)</td>
        </tr>
      }

      <tr class="itemTableBody subtotalWithoutTax">
        <td colspan="4">小計</td>
        <td class="subtotal">@amount(tran.itemTotal.total)</td>
      </tr>

      <tr class="itemTableBody outerTax">
        <td colspan="4">外税額</td>
        <td class="outerTaxAmount">@amount(tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
      </tr>

      <tr class="itemTableBody total">
        <td colspan="4">商品計</td>
        <td class="grandTotal">@amount(tran.itemTotal.total + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
      </tr>
    </table>
  }

  <h1>送料</h1>
  @tran.shippingTotal.bySite.map { e =>
    <h2 class="shippingSiteName">@e._1.name</h2>
    <table class="shipping">
      <tr class="itemTableHeader">
        <th>箱</th>
        <th>箱単価</th>
        <th>個数</th>
        <th>金額</th>
      </tr>

      @e._2.byItemClass.values.map { e2 =>
        @e2.table.map { e3 =>
          <tr class="shippingTableBody">
            <td class="boxName">@e3.shippingBox.boxName</td>
            <td class="boxUnitPrice" style="text-align: right;">@amount(e3.boxUnitPrice)</td>
            <td class="boxQuantity" style="text-align: right;">@e3.boxQuantity 個</td>
            <td class="boxPrice" style="text-align: right;">@amount(e3.boxTotal)</td>
          </tr>
        }
      }
    </table>
  }

  <h1>合計</h1>
  <table class="salesTotal">
    <tr class="salesTotalHeader">
      <th></th>
      <th>個数</th>
      <th>小計</th>
    </tr>
    <tr class="salesTotalBody">
      <td>商品計</td>
      <td class="itemQuantity" style="text-align: right;">@tran.itemTotal.quantity 個</td>
      <td class="itemPrice" style="text-align: right;">@amount(tran.itemTotal.total + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
    </tr>
    <tr class="salesTotalBody">
      <td>送料計</td>
      <td class="itemQuantity" style="text-align: right;">@tran.shippingTotal.boxQuantity 個</td>
      <td class="itemPrice" style="text-align: right;">@amount(tran.shippingTotal.boxTotal)</td>
    </tr>
    <tr class="salesTotalBody">
      <td colspan="2">合計</td>
      <td class="itemPrice" style="text-align: right;">@amount(tran.itemTotal.total + tran.shippingTotal.boxTotal + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
    </tr>
  </table>

  <h1>送付先</h1>
  <table class="shippingAddress">
    <tr class="shippingTableHeader">
      <th colspan="2">送付先</th>
    </tr>
    @if(tran.shippingAddress.hasName) {
      <tr class="shippingTableBody">
        <td>お名前</td><td>@tran.shippingAddress.firstName @tran.shippingAddress.lastName</td>
      </tr>
    }
    @if(tran.shippingAddress.hasKanaName) {
      <tr class="shippingTableBody">
        <td>フリガナ</td><td>@tran.shippingAddress.firstNameKana @tran.shippingAddress.lastNameKana</td>
      </tr>
    }
    @if(tran.shippingAddress.hasZip) {
      <tr class="shippingTableBody">
        <td>〒</td><td>@tran.shippingAddress.zip1 - @tran.shippingAddress.zip2</td>
      </tr>
    }
    <tr class="shippingTableBody">
      <td>ご住所</td>
      <td>
        @if(! tran.shippingAddress.prefecture.isUnknown) {
          @tran.shippingAddress.prefecture<br>
        }

        @if(!tran.shippingAddress.address1.isEmpty) {
          @tran.shippingAddress.address1<br>
        }

        @if(!tran.shippingAddress.address2.isEmpty) {
          @tran.shippingAddress.address2<br>
        }

        @if(!tran.shippingAddress.address3.isEmpty) {
          @tran.shippingAddress.address3<br>
        }

        @if(!tran.shippingAddress.address4.isEmpty) {
          @tran.shippingAddress.address4<br>
        }

        @if(!tran.shippingAddress.address5.isEmpty) {
          @tran.shippingAddress.address5<br>
        }
      </td>
    </tr>
    @if(!tran.shippingAddress.tel1.isEmpty) {
      <tr class="shippingTableBody">
        <td>TEL</td><td>@tran.shippingAddress.tel1</td>
      </tr>
    }
    @if(!tran.shippingAddress.tel2.isEmpty) {
      <tr class="shippingTableBody">
        <td></td><td>@tran.shippingAddress.tel2</td>
      </tr>
    }
    @if(!tran.shippingAddress.tel3.isEmpty) {
      <tr class="shippingTableBody">
        <td></td><td>@tran.shippingAddress.tel3</td>
      </tr>
    }
  </table>

  <br>
  <a href="@routes.Purchase.showShoppingCart()">@Messages("shopping.cart")へ戻る</a>
  <a href="@routes.Shipping.startEnterShippingAddress()">@Messages("enter.shipping.address")へ戻る</a>

  <br>
  <br>
  @helper.form(action = helper.CSRF(routes.Shipping.finalizeTransactionJa()), 'id -> "finalizeTransactionForm") {
    <input type="submit" value="@Messages("finalize.transaction")">
  }
}
