@(
  tran: Transaction
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._
@import helpers.Formatter.yyyy_mm_dd

@main(Messages("confirm.shipping.address"), Some(loginSession)) {
<script>
  var doPurchase = function(tenderType) {
    $("#tenderType").val(tenderType);
    $("#finalizeTransactionForm").submit();
  };
</script>
} {
  <h1 class="itemsTitle">ご注文商品</h1>
  @if(tran.itemTotal.notEmpty) {
    <table class="itemTable" border="0">
      <tr class="itemTableHeader">
        <th class="itemNameHeader">@Messages("itemName")</th>
        <th class="siteNameHeader">@Messages("site")</th>
        <th class="sizeHeader">@Messages("size")</th>
        <th class="quantityHeader">@Messages("quantity")</th>
        <th class="subtotalHeader">@Messages("subtotal")</th>
      </tr>

      @tran.itemTotal.table.map { e =>
        <tr class="itemTableBody">
          <td class="itemName">@e.itemName.name</td>
          <td class="siteName">@e.site.name</td>
          <td class="itemSize">
            @{e.siteItemNumericMetadata.get(SiteItemNumericMetadataType.SHIPPING_SIZE).map {
              m => Messages("item.size." + m.metadata)
            }.getOrElse("-")}
          </td>
          <td class="itemQuantity" style="text-align: right;">@e.shoppingCartItem.quantity</td>
          <td class="itemPrice" style="text-align: right;">@amount(e.itemPrice)</td>
        </tr>
      }

      <tr class="itemTableBody subtotalWithoutTax">
        <td colspan="4">小計</td>
        <td class="subtotal">@amount(tran.itemTotal.total)</td>
      </tr>

      <tr class="itemTableBody outerTax">
        <td colspan="4">@Messages("outer.tax.amount")</td>
        <td class="outerTaxAmount">@amount(tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
      </tr>

      <tr class="itemTableBody total">
        <td colspan="4">商品計</td>
        <td class="grandTotal">@amount(tran.itemTotal.total + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
      </tr>
    </table>
  }

  @if(tran.shippingAddress.isDefined) {
    <h1 class="shippingTitle">送料</h1>
    @tran.shippingTotal.bySite.map { e =>
      <h2 class="shippingSiteName">@e._1.name</h2>
      <table class="shipping">
        <tr class="itemTableHeader">
          <th class="boxNameHeader">箱</th>
          <th class="boxUnitPriceHeader">箱単価</th>
          <th class="boxQuantityHeader">@Messages("quantity")</th>
          <th class="boxPriceHeader">金額</th>
        </tr>
  
        @e._2.byItemClass.values.map { e2 =>
          @e2.table.map { e3 =>
            <tr class="shippingTableBody">
              <td class="boxName">@e3.shippingBox.boxName</td>
              <td class="boxUnitPrice">@amount(e3.boxUnitPrice)</td>
              <td class="boxQuantity">@e3.boxQuantity 箱</td>
              <td class="boxPrice">@amount(e3.boxTotal)</td>
            </tr>
          }
        }
      </table>
      <h3 class="shippingDate">配送希望日: @shippingDate(tran.shippingDate.bySite(e._1).shippingDate)</h3>
    }
  }

  <h1 class="totalTitle">合計</h1>
  <table class="salesTotal">
    <tr class="salesTotalHeader">
      <th class="header"></th>
      <th class="quantityHeader">@Messages("quantity")</th>
      <th class="subtotalHeader">小計</th>
    </tr>
    <tr class="salesTotalBody">
      <td class="itemTotal">商品計</td>
      <td class="itemQuantity">@tran.itemTotal.quantity</td>
      <td class="itemPrice">@amount(tran.itemTotal.total + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
    </tr>
    @if(tran.shippingAddress.isDefined) {
      <tr class="salesTotalBody">
        <td class="shippingTotal">送料計</td>
        <td class="itemQuantity" style="text-align: right;">@tran.shippingTotal.boxQuantity 箱</td>
        <td class="itemPrice" style="text-align: right;">@amount(tran.shippingTotal.boxTotal)</td>
      </tr>
    }
    <tr class="salesTotalBody">
      <td class="total" colspan="2">合計</td>
      <td class="itemPrice" style="text-align: right;">@amount(tran.itemTotal.total + tran.shippingTotal.boxTotal + tran.itemTotal.taxByType(TaxType.OUTER_TAX))</td>
    </tr>
  </table>

  @tran.shippingAddress.map { addr =>
    <h1 class="shippngAddress">送付先</h1>
    @address(addr, true)
  }

  <br>
  <div class="menuPanel">
    <a class="backToShoppingLink" href="@routes.Purchase.showShoppingCart()">@Messages("shopping.cart")へ戻る</a>

    @if(tran.shippingAddress.isDefined) {
      <a class="backToShippingLink" href="@routes.Shipping.startEnterShippingAddress()">@Messages("enter.shipping.address")へ戻る</a>
    }
  </div>

  <br>
  <br>
  @helper.form(action = helper.CSRF(routes.Shipping.finalizeTransactionJa()), 'id -> "finalizeTransactionForm") {
    <input type="hidden" name="tenderType" value="" id="tenderType">
  }

  @if(AcceptableTender.AcceptableTender()(loginSession.role.typeCode).contains(TenderType.ACCOUNTING_BILL)) {
    <button type="submit" name="tenderType" value="payByAccountingBill" class="payByAccountingBill"
            onclick="doPurchase('payByAccountingBill');">
      @Messages("finalize.transaction")
    </button>
  }

  @if(AcceptableTender.AcceptableTender()(loginSession.role.typeCode).contains(TenderType.PAYPAL)) {
    <img alt='@Messages("payByPaypal")' src="https://www.paypal.com/ja_JP/i/btn/btn_xpressCheckout.gif"
         onclick="doPurchase('payByPaypal');" id="paypalimg">
  }

  @if(AcceptableTender.AcceptableTender()(loginSession.role.typeCode).contains(TenderType.PAYPAL_WEB_PAYMENT_PLUS)) {
    <button onclick="doPurchase('payByPaypalWebPaymentPlus');" id="paypalWebPaymentImg">
      @Messages("payByPaypalCredit")
    </button>
  }
}
