@(message: String)

@main("Welcome to Store") {
<div id="my_header"><h1>SITE TITLE</h1></div>

<div id="my_navi_1">
<div id="mynavileft">
<ul>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>

</ul>
</div>
</div>


<div id="my_navi_2">

<div id="mynaviright">
<ul>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>

</ul>
</div>
</div>
<div id="my_contents">
<div id="mymain">

<div class="contents"><h2>SUB TITLE</h2><p>text text text text text text text text text text text text text text text text text text text</p><p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p></div>





</div>
</div>
<div id="my_footer"><p>FOOTER</p></div>
}
