@(
)(
  implicit lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@main(Messages("company.name"), loginSession) {
} {
  @helper.form(action=routes.ItemQuery.query(List())) {
    <input type="search" id="searchbox" name="q" placeholder="@Messages("search.placeholder")">
    <input type="submit" id="searchsubmit" value="@Messages("search.button.title")">
  }

  @flash.get("errorMessage").map { message =>
    <div class="globalErrorMessage">
      @message
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }
}
