@(
  errors: Seq[ItemExpiredException]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("itemExpiredTitle"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("itemExpiredTitle")</h1>
  
  <div class="itemExpiredDescription">
    @Messages("itemExpiredDescription")
  </div>
  
  <table class="expiredItem">
    @errors.map { e =>
      <tr class="expiredItemRow">
        <td class="siteName">@e.site.name</td>
        <td class="itemName">@e.itemName.name</td>
      </tr>
    }
  </table>

  @form(action = helper.CSRF(routes.ShoppingCart.removeExpiredItems())) {
    <input id="removeExpiredItemsButton" type="submit" value="Ok">
  }
}
