@(
  query: (Int, Int, Int, String) => Call,
  list: PagedRecords[_],
  templateNo: Int,
  itemPriceStrategy: ItemPriceStrategy
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)
<script>
var links = {
  'newer': '@query(0, list.pageSize, templateNo, "site_item.created desc")',
  'older': '@query(0, list.pageSize, templateNo, "site_item.created")',
  'name': '@query(0, list.pageSize, templateNo, "item_name.item_name")',
  'nameReverse': '@query(0, list.pageSize, templateNo, "item_name.item_name desc")',
  'price': '@query(0, list.pageSize, templateNo, "item_price_history." + itemPriceStrategy.columnName)',
  'priceReverse': '@query(0, list.pageSize, templateNo, "item_price_history." + itemPriceStrategy.columnName + " desc")',
}
var onSortOrderChanged = function(o) {
  location.href = links[o.value];
}
</script>
