@(
  detail: models.ItemDetail
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@itemSubPhoto(i: Int) = {
  <img class="itemDetailPhotoSub" src="@routes.ItemPictures.getPicture(detail.itemId, i)"
       onclick='$(".itemDetailPhoto").attr("src", "@routes.ItemPictures.getPicture(detail.itemId, i)");'>
}

@main(Messages("item.detail"), loginSession) {
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
  @shoppingCartDialogDeclaration()
} {
  @shoppingCartDialogImplementation()

  <div class="itemDetailAll">
    <div class="itemDetailPicture">
      <div class="itemDetailPictureMain">
        <img class="itemDetailPhoto" src="@routes.ItemPictures.getPicture(detail.itemId, 0)">
      </div>
      <div class="itemDetailPictureSub">
        @{(0 until 5) map { i => itemSubPhoto(i)}}
      </div>
    </div>

    <div class="itemDetailBody">
      <div class="itemDetailItemName">@detail.name</div>
      <table class="itemDetailMain">
        @itemNumericMetadataRows(detail.itemNumericMetadata)
        @itemTextMetadataRows(detail.itemTextMetadata)

        <tr class="itemDetailItemPrice">
          <td class="label">@Messages("price")</td>
          <td class="value">@amount(detail.price)</td>
        </tr>

        <tr class="itemDetailSiteName">
          <td class="siteNameHeader">@Messages("site")</td>
          <td class="siteName">@detail.siteName</td>
        </tr>
      </table>

      <img class="itemPictureForDetail" src="@routes.ItemPictures.getDetailPicture(detail.itemId)">

      <div class="itemDetailCartPanel">
        <button class="purchaseButton" type="button"
                onclick="shoppingCartDialog.putIntoCart(@detail.siteId, @detail.itemId);">
          @Messages("purchase")
        </button>
      </div>

      <div class="itemDetailDescription">@detail.description</div>
    </div>
  </div>
}

