@(
  itemInquiry: ItemInquiry,
  fields: scala.collection.immutable.Map[Symbol, String],
  itemInfo: (Site, ItemName),
  myForm: Form[Long]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("itemReservationConfirm"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("itemReservationConfirm")</h1>

  @form(action = CSRF(routes.ItemInquiryReserve.submitItemReservation(itemInquiry.id.get.id)), 'id -> "submitItemReservationForm") {
    @inputText(myForm("id"), 'type -> "hidden", '_showConstraints -> false)(
      helper.FieldConstructor(simpleField.f), implicitly
    )

    <table class="itemInquiry confirmationTable">
      <tr>
        <td class="siteName header">@Messages("site")</td>
        <td class="siteName body">@itemInfo._1.name</td>
      </tr>
      <tr>
        <td class="itemName header">@Messages("item")</td>
        <td class="itemName body">@itemInfo._2.name</td>
      </tr>
      <tr>
        <td class="name header">@Messages("name")</td>
        <td class="name body">@itemInquiry.submitUserName</td>
      </tr>
      <tr>
        <td class="email header">@Messages("email")</td>
        <td class="email body">@itemInquiry.email</td>
      </tr>
      <tr>
        <td class="message header">@Messages("reservationMessage")</td>
        <td class="message body">@fields('Message)</td>
      </tr>
    </table>

    <input type="submit" value="@Messages("register")" id="submitItemReservation">
    <button id="amendItemReservation" type="button" 
            onclick="location.href='@routes.ItemInquiryReserve.amendItemReservationStart(itemInquiry.id.get.id)';">
      @Messages("amend")
    </button>
  }
}
