@(
  thisForm: Form[_ <: CreateItemInquiryReservation]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("itemInquiry"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("itemInquiry")</h1>
    
  @defining(thisForm.asInstanceOf[Form[CreateItemInquiry]]) { myForm =>
    @form(action = CSRF(routes.ItemInquiryReserve.submitItemInquiry()), 'id -> "itemInquiryForm") {
      @inputText(myForm("siteId"), 'type -> "hidden", '_showConstraints -> false)(
        helper.FieldConstructor(simpleField.f), implicitly
      )

      @inputText(myForm("itemId"), 'type -> "hidden", '_showConstraints -> false)(
        helper.FieldConstructor(simpleField.f), implicitly
      )

      @inputText(
        myForm("name"),
        '_label -> Messages("name"), 'size -> 32, 'maxlength -> 128
      )

      @inputText(
        myForm("email"),
        '_label -> Messages("email"), 'size -> 16, 'maxlength -> 128
      )

      <input type="submit" value="@Messages("register")" id="submitItemQuery">
    }
  }
}
