@(
  title: String,
  loginSession: Option[LoginSession],
  contentCssClass: String = "contents"
)(header: Html)(content: Html)(
  implicit lang: Lang,
  request: RequestHeader
)

<!DOCTYPE html>

<html>
  <head>
    @commonHeader(title, header)
  </head>
  <body>
<div id="my_header"><h1>Functional Store</h1></div>

<div id="my_navi_1">
  <div id="mynavileft">
    <ul>
      <li><a href="/">TOP</a></li>
      <li>
        @loginPanel(loginSession)
      </li>
      @loginSession match {
        case None => {}
        case Some(login) => {
          <li><a href="/showShoppingCart">
            @Messages("shopping.cart") @loginSession.map("(" + _.quantityInShoppingCart + ")").getOrElse("")
          </a></li>
          @if(! login.isAnonymousBuyer) {
            <li><a class="orderHistoryLink" href="@routes.OrderHistory.index()">@Messages("query.order.history")</a></li>
          }
        }
      }
    </ul>
  </div>
</div>

<div id="my_navi_2">

<div id="mynaviright">
<ul>
<li>MENU</li>
</ul>
</div>
</div>
<div id="my_contents">
  <div id="mymain">
    <div class="@contentCssClass">
      @content
    </div>
  </div>
</div>
<div id="my_footer"><p>FOOTER</p></div>
  </body>
</html>
