@(
  title: String,
  loginSession: Option[LoginSession],
  contentCssClass: String = "contents"
)(header: Html)(content: Html)(
  implicit lang: Lang,
  request: RequestHeader
)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.11.1.custom/jquery-ui.min.js")"></script>
    <link href="@routes.Assets.at("javascripts/jquery-ui-1.11.1.custom/jquery-ui.theme.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("javascripts/jquery-ui-1.11.1.custom/jquery-ui.min.css")" rel="stylesheet">
    @header
  </head>
  <body>
<div id="my_header"><h1>Functional Store</h1></div>

<div id="my_navi_1">
  <div id="mynavileft">
    <ul>
      <li><a href="/">TOP</a></li>
      <li>
        @loginPanel(loginSession)
      </li>
      @loginSession match {
        case None => {}
        case Some(login) => {
          <li><a href="/showShoppingCart">@Messages("shopping.cart")</a></li>
          <li><a href="@routes.OrderHistory.index()">@Messages("query.order.history")</a></li>
        }
      }
    </ul>
  </div>
</div>

<div id="my_navi_2">

<div id="mynaviright">
<ul>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>
<li>MENU</li>

</ul>
</div>
</div>
<div id="my_contents">
  <div id="mymain">
    <div class="@contentCssClass">
      @content
    </div>
  </div>
</div>
<div id="my_footer"><p>FOOTER</p></div>
  </body>
</html>
