@(
  news: PagedRecords[(News, Option[Site])]
)(
  implicit lang: Lang,
  request: RequestHeader,
  optLoginSession: Option[LoginSession]
)

@import helper._

<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body>
    <table class="newsList">
      @news.records.map { rec =>
        <tr>
          <td class="newsReleaseDate">@publishedDate(rec._1.releaseTime)</td>
          <td class="newsTitle"><a target="_blank" href="@routes.NewsQuery.show(rec._1.id.get.id)">@rec._1.title</a></td>
        </tr>
      }
    </table>
  </body>
</html>
