@(
  label: String,
  pageLink: (Int, Int, String) => play.api.mvc.Call,
  orderByColumn: String,
  list: PagedRecords[_]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@if(list.orderBy.columnName == orderByColumn) {
  <a class="orderColumn" href="javascript:void(0)"
     onclick="location.href='@pageLink(0, list.pageSize, list.orderBy.invert.toString)'">
    @label
    @if(list.orderBy.order == Asc) {
      <span class="orderByAscMark orderByMark">↓</span>
    } else {
      <span class="orderByDescMark orderByMark">↑</span>
    }
  </a>
} else {
  <a class="orderColumn" href="javascript:void(0)"
     onclick="location.href='@pageLink(0, list.pageSize, orderByColumn)'">
    @label
  </a>
}
