@(
  currency: CurrencyInfo,
  subTotal: BigDecimal,
  paypalId: String,
  paypalWebPaymentPlusUrl: String,
  successUrl: String,
  cancelUrl: String,
  debug: Boolean
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@main(Messages("paypalWebPaymentStartTitle"), Some(loginSession)) {
  <script>
      @if(! debug) {
        $(function() {
          $("#startWebPaymentPlusForm").submit();
        });
      }
  </script>
} {
  <h1 class="title">@Messages("paypalWebPaymentStartTitle")</h1>

  <form action="@paypalWebPaymentPlusUrl" method="post" id="startWebPaymentPlusForm">
    @if(debug) {
      <label for="cmd">cmd</label><input id="cmd" type="text" name="cmd" value="_hosted-payment"><br>
      <label for="subtotal">subtotal</label><input id="subtotal" type="text" name="subtotal" value="@subTotal"><br>
      <label for="business">business</label><input id="business" type="text" name="business" value="@paypalId"><br>
      <label for="paymentaction">paymentaction</label><input id="paymentaction" type="text" name="paymentaction" value="sale"><br>
      <label for="return">return</label><input id="return" type="text" name="return" value="@successUrl"><br>
      <label for="cancel_return">cancel_return</label><input id="cancel_return" type="text" name="cancel_return" value="@cancelUrl"><br>
      <label for="currency_code">currency_code</label><input id="currency_code" type="text" name="currency_code" value="@currency.currencyCode"><br>
      <label for="billing_address1">billing_address1</label><input id="billing_address1" type="text" name="billing_address1" value="1-1-1"><br>
      <label for="billing_address2">billing_address2</label><input id="billing_address2" type="text" name="billing_address2" value="billing_address2"><br>
      <label for="billing_city">billing_city</label><input id="billing_city" type="text" name="billing_city" value="大田区"><br>
      <label for="billing_country">billing_country</label><input id="billing_country" type="text" name="billing_country" value="JP"><br>
      <label for="billing_first_name">billing_first_name</label><input id="billing_first_name" type="text" name="billing_first_name" value="るいも"><br>
      <label for="billing_last_name">billing_last_name</label><input id="billing_last_name" type="text" name="billing_last_name" value="花井"><br>
      <label for="billing_state">billing_state</label><input id="billing_state" type="text" name="billing_state" value="東京"><br>
      <label for="billing_zip">billing_zip</label><input id="billing_zip" type="text" name="billing_zip" value="1460082"><br>
      <label for="buyer_email">buyer_email</label><input id="buyer_email" type="text" name="buyer_email" value="null@@ruimo.com"><br>
      <label for="night_phone_c">night_phone_b</label><input id="night_phone_c" type="text" name="night_phone_c" value="123456789"><br>
      <label for="notify_url">notify_url</label><input id="notify_url" type="text" name="notify_url" value="@successUrl"><br>
      <input type="submit" name="METHOD" value="Pay">
    } else {
      <input type="hidden" name="cmd" value="_hosted-payment">
      <input type="hidden" name="subtotal" value="@subTotal">
      <input type="hidden" name="business" value="@paypalId">
      <input type="hidden" name="paymentaction" value="sale">
      <input type="hidden" name="return" value="@successUrl">
      <input type="hidden" name="cancel_return" value="@cancelUrl">
      <input type="hidden" name="currency_code" value="@currency.currencyCode">
    }
  </form>

  @if(debug) {
    <a href="@successUrl">Skip paypal</a>
    <a href="@cancelUrl">Cancel paypal</a>
  }
}
