@(
  itemName: String,
  user: StoreUser,
  prefectureTable: Seq[(String, String)],
  myForm: Form[CreatePrize]
)(
  implicit lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@zipError(f: Form[_]) = @{
  f("zip1").error.isDefined || f("zip2").error.isDefined
}

@main(Messages("prize"), Some(loginSession)) {
  <script src="https://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3-https.js" charset="UTF-8"></script>
} {
  <h1 class="title">@Messages("prize")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  <table>
    <tr>
      <td>@Messages("itemName")</td><td>@itemName</td>
    </tr>
    <tr>
      <td>@Messages("companyName")</td><td>@user.companyName.getOrElse("-")</td>
    </tr>
    <tr>
      <td>@Messages("name")</td><td>@user.fullName</td>
    </tr>
  </table>

  <h2>@Messages("shipping.address")</h2>

  @helper.form(action = helper.CSRF(routes.Prize.confirmJa(itemName)), 'id -> "confirmPrizeForm") {
    <div class="@{if (zipError(myForm)) {"error"} else {""}}">
      <label for="zip1">郵便番号</label>
      <div class="input">
        <span>
          <input type="text" size="3" name="zip1" value="@myForm("zip1").value.getOrElse("")" maxlength="3">
          -
          <input type="text" size="4" name="zip2" value="@myForm("zip2").value.getOrElse("")" maxlength="4"
                 onKeyUp="AjaxZip3.zip2addr('zip1', 'zip2', 'prefecture', 'address1', 'address2');">
        </span>
        @{ if (zipError(myForm)) { <span>3桁-4桁の数値で指定してください。</span> } }
      </div>
    </div>

    @select(
      myForm("prefecture"), 
      prefectureTable, 
      '_label -> Messages("prefecture"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("address1"),
      '_label -> Messages("address1"), 'size -> 48, 'maxlength -> 256
    )

    @helper.inputText(
      myForm("address2"),
      '_label -> Messages("address2"), 'size -> 48, 'maxlength -> 256
    )

    @helper.inputText(
      myForm("address3"),
      '_label -> Messages("address3"), 'size -> 48, 'maxlength -> 256
    )

    <input type="hidden" name="address4" value="">
    <input type="hidden" name="address5" value="">

    @helper.inputText(
      myForm("firstName"),
      '_label -> Messages("firstName"), 'size -> 24, 'maxlength -> 64
    )

    @helper.inputText(
      myForm("lastName"),
      '_label -> Messages("lastName"), 'size -> 24, 'maxlength -> 64
    )

    @helper.inputText(
      myForm("tel"),
      '_label -> Messages("tel1"), 'size -> 16, 'maxlength -> 16
    )

    @helper.textarea(
      myForm("comment"),
      '_label -> Messages("shippingComment")
    )

    <input type="hidden" name="command" value="confirm">
    <button type="button" onClick="history.back()">@Messages("back")</button>
    <input type="submit" value="@Messages("register")">
  }
}

