@(
myForm: Form[QaEntry]
)(
  implicit lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._
@import views.fieldctors.FieldConstructors.showOnlyRequired

@main(Messages("qaTitle"), loginSession) {
} {
  <h1 class="title">@Messages("qaTitle")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @form(action = CSRF(routes.Qa.submitQaJa()), 'id -> "enterQaForm") {
    @inputRadioGroup(
      myForm("qaType"),
      options = options(
        Messages("qaItem") -> Messages("qaItem"),
        Messages("qaOpinion") -> Messages("qaOpinion"),
        Messages("qaSugestion") -> Messages("qaSugestion"),
        Messages("qaOther") -> Messages("qaOther")
      ),
      '_label -> <span>{Messages("qaItemTitle")}</span><span class='help-block'>{Messages("constraint.required")}</span>
    )

    @textarea(
      myForm("comment"),
      '_label -> Messages("comment"), 'rows -> 6, 'cols -> 80
    )

    @inputText(
      myForm("companyName"),
      '_label -> Messages("companyName"), 'size -> 24, 'maxlength -> 64
    )

    @Messages("entryName")      
    <table>
      <tr>
        <td>
          @inputText(
            myForm("firstName"),
            '_label -> Messages("firstName"), 'size -> 16, 'maxlength -> 64
          )
        </td>
        <td>
          @inputText(
            myForm("lastName"),
            '_label -> Messages("lastName"), 'size -> 16, 'maxlength -> 64
          )
        </td>
      </tr>
    </table>

    @inputText(
      myForm("tel"),
      '_label -> Messages("courtesyTelNo"), 'size -> 16, 'maxlength -> 16
    )

    @inputText(
      myForm("email"),
      '_label -> Messages("email"), 'size -> 16, 'maxlength -> 128
    )

    <input type="submit" value="@Messages("register")" id="submitQa">
  }
}
