@(
  message: String,
  queryString: helpers.QueryString,
  list: PagedRecords[(
    models.Item,
    models.ItemName,
    models.ItemDescription,
    models.Site,
    models.ItemPriceHistory,
    Map[ItemNumericMetadataType, ItemNumericMetadata],
    Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
    Map[ItemTextMetadataType, ItemTextMetadata]
  )],
  templateNo: Int,
  query: (Int, Int, Int, String) => Call
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._

@main(Messages("item.list"), loginSession) {
<script>
  $(function() {
    $("#queryTemplateBody").load("/static/templates/itemQueries/" + @templateNo + ".html");
  });
</script>
} {
  @helper.form(action=routes.ItemQuery.query(queryString.table.toList)) {
    <input type="search" id="searchbox" name="q" placeholder="@Messages("search.placeholder")"
           value="@queryString.toString">
    <input type="submit" id="searchsubmit" value="@Messages("search.button.title")">
  }

  <br>

  <div id="queryTemplateBody">
  </div>

  <table style="display:none;" class="queryItemTable">
    <tr class="queryItemTableHeader">
      <th></th>
      <th id="itemNameHeader">
        @orderMark(
          Messages("itemName"),
          query(_: Int, _: Int, templateNo, _: String),
          "item_name.item_name", list
        )
      </th>
      <th id="siteHeader">
        @orderMark(
          Messages("site"),
          query(_: Int, _: Int, templateNo, _: String),
          "site.site_name", list
        )
      </th>
      <th id="unitPriceHeader">
        @orderMark(
          Messages("unitPrice"),
          query(_: Int, _: Int, templateNo, _: String),
          "item_price_history.unit_price", list
        )
      </th>
      <th></th>
    </tr>

    @list.records.map { e =>
      <tr class="queryItemTableBody">
        <td class="queryItemPhoto">
          <img class="itemPhoto" src="@routes.ItemPictures.getPicture(e._1.id.get.id, 0)">
        </td>
        <td class="queryItemItemName">
          <a href="@routes.ItemDetail.show(e._1.id.get.id, e._4.id.get)">
            @e._2.name
          </a>
        </td>
        <td class="queryItemSite">@e._4.name</td>
        <td class="queryItemUnitPrice">@amount(e._5.unitPrice)</td>
        <td>
          <button type="button"
                  class="addToCartButton"
                  onclick="shoppingCartDialog.putIntoCart(@e._4.id.get, @e._1.id.get.id, 1);">
            @Messages("purchase")
          </button>
        </td>
      </tr>
    }
  </table>
  <br>
  @pagingPanel(list, query(_, _, templateNo, _), 10, 25, 50)
}
