@(
  message: String,
  queryString: helpers.QueryString,
  list: PagedRecords[(
    models.Item,
    models.ItemName,
    models.ItemDescription,
    models.Site,
    models.ItemPriceHistory,
    Map[ItemNumericMetadataType, ItemNumericMetadata],
    Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
    Map[ItemTextMetadataType, ItemTextMetadata]
  )]
)(
  implicit lang: Lang,
  token: play.filters.csrf.CSRF.Token,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._

@main(Messages("item.list"), loginSession) {
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet">
  @shoppingCartDialogDeclaration()
} {
  @shoppingCartDialogImplementation()

  @helper.form(action=routes.ItemQuery.query(queryString.table.toList)) {
    <input type="search" id="searchbox" name="q" placeholder="@Messages("search.placeholder")"
           value="@queryString.toString">
    <input type="submit" id="searchsubmit" value="@Messages("search.button.title")">
  }

  <br>
  <table class="queryItemTable">
    <tr class="queryItemTableHeader">
      <th></th>
      <th>
        @orderMark(
          Messages("itemName"),
          routes.ItemQuery.query(queryString.toList, _: Int, _: Int, _: String),
          "item_name.item_name", list
        )
      </th>
      <th>
        @orderMark(
          Messages("site"),
          routes.ItemQuery.query(queryString.toList, _: Int, _: Int, _: String),
          "site.site_name", list
        )
      </th>
      <th>
        @orderMark(
          Messages("unitPrice"),
          routes.ItemQuery.query(queryString.toList, _: Int, _: Int, _: String),
          "item_price_history.unit_price", list
        )
      </th>
      <th></th>
    </tr>

    @list.records.map { e =>
      <tr class="queryItemTableBody">
        <td class="queryItemPhoto">
          <img class="itemPhoto" src="@routes.ItemPictures.getPicture(e._1.id.get, 0)">
        </td>
        <td class="queryItemItemName">
          <a href="@routes.ItemDetail.show(e._1.id.get, e._4.id.get)">
            @e._2.name
          </a>
        </td>
        <td class="queryItemSite">@e._4.name</td>
        <td class="queryItemUnitPrice">@amount(e._5.unitPrice)</td>
        <td>
          <button type="button"
                  onclick="shoppingCartDialog.putIntoCart(@e._4.id.get, @e._1.id.get);">
            @Messages("purchase")
          </button>
        </td>
      </tr>
    }
  </table>
  <br>
  @pagingPanel(
    list,
    routes.ItemQuery.query(queryString.toList, _: Int, _: Int, _: String),
    10, 25, 50
  )
}
