@(
  list: PagedRecords[(
    models.Item,
    models.ItemName,
    models.ItemDescription,
    models.Site,
    models.ItemPriceHistory,
    Map[ItemNumericMetadataType, ItemNumericMetadata],
    Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
    Map[ItemTextMetadataType, ItemTextMetadata],
    Map[SiteItemTextMetadataType, SiteItemTextMetadata]
  )]
)(
  implicit lang: Lang,
  token: play.filters.csrf.CSRF.Token,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._

@queryItemTableBody(list)


