@(message: String,
  queryString: List[String],
  list: PagedRecords[(
    models.Item,
    models.ItemName,
    models.ItemDescription,
    models.Site,
    models.ItemPriceHistory,
    Map[ItemNumericMetadataType, ItemNumericMetadata],
    Map[SiteItemNumericMetadataType, SiteItemNumericMetadata],
    Map[ItemTextMetadataType, ItemTextMetadata]
  )]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: Option[LoginSession]
)

@import helper._

@main(Messages("item.list"), loginSession) {
} {
  @helper.form(action=routes.ItemQuery.query(queryString)) {
    <input type="search" id="searchbox" name="q" placeholder="@Messages("search.placeholder")"
           value="@queryString.headOption.getOrElse("")">
    <input type="submit" id="searchsubmit" value="@Messages("search.button.title")">
  }

  <br>
  <table class="queryItemTable">
    <tr class="queryItemTableHeader">
      <th></th>
      <th>@Messages("itemName")</th>
      <th>@Messages("site")</th>
      <th>@Messages("unitPrice")</th>
      <th></th>
    </tr>

    @list.records.map { e =>
      <tr class="queryItemTableBody">
        <td class="queryItemPhoto">
          <img class="itemPhoto" src="@routes.ItemPictures.getPicture(e._1.id.get, 0)">
        </td>
        <td class="queryItemItemName">
          <a href="@routes.ItemDetail.show(e._1.id.get, e._4.id.get)">
            @e._2.name
          </a>
        </td>
        <td class="queryItemSite">@e._4.name</td>
        <td class="queryItemUnitPrice">@amount(e._5.unitPrice)</td>
        <td>
          <button type="button" 
                  onclick="location.href='@routes.Purchase.addToCart(e._4.id.get, e._1.id.get)';">
            @Messages("purchase")
          </button>
        </td>
      </tr>
    }
  </table>
  <br>
  <div class="pagingPanel">
    <button type="button" @{if(list.prevPageExists) "" else "disabled=disabled"}
            onclick="location.href='@routes.ItemQuery.query(queryString, list.currentPage - 1, list.pageSize)'">
      &lt;
    </button>
    Page @{list.currentPage + 1}/@list.pageCount
    <button type="button" @{if(list.nextPageExists) "" else "disabled=disabled"}
            onclick="location.href='@routes.ItemQuery.query(queryString, list.currentPage + 1, list.pageSize)'">
      &gt;
    </button>
  </div>
}
