@(
  myForm: Form[CreateAddress], prefectureTable: Seq[(String, String)]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@zipError(f: Form[CreateAddress]) = @{
  f("zip1").error.isDefined || f("zip2").error.isDefined
}

@main(Messages("enter.shipping.address"), Some(loginSession)) {
  <script type="text/javascript">
    $(function() {
      $("#shippingDateTextBox").datepicker({
        dateFormat: 'yy年mm月dd日'
      });
    });
  </script>

  <h1 class="enterShippingAddress">@Messages("enter.shipping.address")</h1>

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @helper.form(action = helper.CSRF(routes.Shipping.enterShippingAddressJa()), 'id -> "enterShippingAddressForm") {
    @helper.inputText(
      myForm("firstName"),
      '_label -> Messages("firstName"), 'size -> 24, 'maxlength -> 64
    )

    @helper.inputText(
      myForm("lastName"),
      '_label -> Messages("lastName"), 'size -> 24, 'maxlength -> 64
    )

    @helper.inputText(
      myForm("firstNameKana"),
      '_label -> Messages("firstNameKana"), 'size -> 24, 'maxlength -> 64
    )

    @helper.inputText(
      myForm("lastNameKana"),
      '_label -> Messages("lastNameKana"), 'size -> 24, 'maxlength -> 64
    )

    <dl class="@{if (zipError(myForm)) {"error"} else {""}}">
      <dt>郵便番号</dt>
      <dd>
        <input type="text" size="3" name="zip1" value="@myForm("zip1").value.getOrElse("")" maxlength="3">
        -
        <input type="text" size="4" name="zip2" value="@myForm("zip2").value.getOrElse("")" maxlength="4">
      </dd>
      @{ if (zipError(myForm)) { <dd>3桁-4桁の数値で指定してください。</dd> } }
    </dl>

    @select(
      myForm("prefecture"), 
      prefectureTable, 
      '_label -> Messages("prefecture"),
      '_showConstraints -> false
    )

    @helper.inputText(
      myForm("address1"),
      '_label -> Messages("address1"), 'size -> 48, 'maxlength -> 256
    )

    @helper.inputText(
      myForm("address2"),
      '_label -> Messages("address2"), 'size -> 48, 'maxlength -> 256
    )

    @helper.inputText(
      myForm("address3"),
      '_label -> Messages("address3"), 'size -> 48, 'maxlength -> 256
    )

    <input type="hidden" name="address4" value="">
    <input type="hidden" name="address5" value="">

    @helper.inputText(
      myForm("tel1"),
      '_label -> Messages("tel1"), 'size -> 16, 'maxlength -> 16
    )

    @inputText(
      myForm("shippingDate"),
      '_label -> Messages("shipping.date"), 'id-> "shippingDateTextBox"
    )

    @helper.textarea(
      myForm("comment"),
      '_label -> Messages("shippingComment")
    )

    <input type="hidden" name="tel2" value="">
    <input type="hidden" name="tel3" value="">

    <input type="submit" value="@Messages("register.shipping")">
  }
}
