@(
  tran: PagedRecords[TransactionSummaryEntry],
  detailByTranSiteId: scala.collection.immutable.LongMap[Seq[TransactionDetail]],
  boxBySiteAndItemSize: scala.collection.immutable.LongMap[scala.collection.immutable.LongMap[TransactionLogShipping]],
  siteTranByTranId: scala.collection.immutable.LongMap[PersistedTransaction],
  addresses: Map[Long, Address],
  tranId: Option[Long]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._
@import scala.collection.immutable.LongMap

@implicitLoginSessionOpt = @{Some(loginSession)}

@main(Messages("order.history.title"), Some(loginSession)) {
  @shoppingCartDialogDeclaration()
} {
  @shoppingCartDialogImplementation()

<p>pagedRecords = @pagedRecords</p>
<p>detailByTranSiteId = @detailByTranSiteId</p>
<p>boxBySiteAndItemSize = @boxBySiteAndItemSize</p>
<p>siteTranByTranId = @siteTranByTranId</p>

<h1 class="title">@Messages("order.history.title")</h1>

  @tran.records.map { e =>
    <table class="orderHistoryTable">
      <tr>
        <td>
          <table class="orderHistoryInnerTable1">
            <tr class="transactionTime">
              <td>@yyyymmddhhmm(e.transactionTime)</td>
            </tr>
            <tr class="transactionId">
              <td>@Messages("transaction.id"): <span class="tranNo">@e.transactionId</span></td>
            </tr>
            <tr class="buyer">
              <td>@Messages("buyer"): <span class="buyerName">@name(e.buyer)</span></td>
            </tr>
            <tr class="totalAmount">
              <td>@Messages("subtotal"): <span class="subtotal">@amount(e.totalAmount)</span></td>
            </tr>
            <tr class="outerTax">
              <td>@Messages("outer.tax.amount"): <span class="outerTaxAmount">@amount(e.totalTax)</span></td>
            </tr>
            <tr class="totalAmountWithTax">
              <td>@Messages("transaction.amount"): <span class="total">@amount(e.totalWithTax)</span></td>
            </tr>
            <tr class="siteName">
              <td>@Messages("site"): <span class="siteName">@e.siteName</span></td>
            </tr>
          </table>
        </td>
        <td class="address zip">
          @if(e.shippingDate.isDefined) {
            <table class="shippingAddressTable">
              @addressBody(addresses(siteTranByTranId(e.transactionId).shippingTable(e.siteId).head.addressId))
            </table>
          }
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="orderHistoryInnerTable2">
            @if(e.shippingDate.isDefined) {
              <tr>
                <td colspan="2">
                  <span class="status">
                    @Messages("transaction.status." + e.status)
                  </span>
                  <span class="shippingDate">
                    @shippingDate(e.shippingDate.get)
                  </span>
                </td>
              </tr>
            }
            <tr>
              <td>
                <table class="orderHistoryInnerTable3">
                  <tr>
                    <th class="orderHistoryInnerTable3Header itemName">
                      @Messages("invoice.detail.item.itemName")
                    </th>
                    <th class="orderHistoryInnerTable3Header unitPrice">
                      @Messages("unitPrice")
                    </th>
                    <th class="orderHistoryInnerTable3Header quantity">
                      @Messages("quantity")
                    </th>
                    <th class="orderHistoryInnerTable3Header price">
                      @Messages("price")
                    </th>
                  </tr>

                  @detailByTranSiteId(e.transactionSiteId).map { t =>
                    <tr>
                      <td class="orderHistoryInnerTable3Body itemName">@t.itemName</td>
                      <td class="orderHistoryInnerTable3Body unitPrice">@amount(t.unitPrice)</td>
                      <td class="orderHistoryInnerTable3Body quantity">@t.quantity</td>
                      <td class="orderHistoryInnerTable3Body price">
                        <span class="body">@amount(t.price)</span>
                        @purchaseButton(t.siteId, t.itemId, t.quantity, t.siteItemNumericMetadata)
                      </td>
                    </tr>
                  }
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="orderHistoryInnerTable3Body subtotalHeader">@Messages("subtotal")</td>
                    <td class="orderHistoryInnerTable3Body subtotalBody">
                      <span class="body">
                        @amount(siteTranByTranId(e.transactionId).itemTotal(e.siteId))
                      </span>
                      <button type="button"
                              onclick="shoppingCartDialog.putOrderHistory(@e.siteId, @e.transactionSiteId);">
                        @Messages("addAllItemsIntoShoppingCart")
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                @if(e.shippingDate.isDefined) {
                  <table class="orderHistoryInnerTable4">
                    <tr>
                      <th class="orderHistoryInnerTable3Header boxName">@Messages("shippingBoxName")</th>
                      <th class="orderHistoryInnerTable3Header boxPrice">@Messages("price")</th>
                    </tr>
                    @boxBySiteAndItemSize.get(
                      e.transactionSiteId
                    ).getOrElse(LongMap[TransactionLogShipping]()).values.map { box =>
                      <tr>
                        <td class="orderHistoryInnerTable4Body boxName">@box.boxName</td>
                        <td class="orderHistoryInnerTable4Body boxPrice">@amount(box.amount)</td>
                      </tr>
                    }
                    <tr>
                      <td class="orderHistoryInnerTable4Body subtotalHeader">@Messages("subtotal")</td>
                      <td class="orderHistoryInnerTable4Body subtotalBody">
                        @amount(siteTranByTranId(e.transactionId).boxTotal(e.siteId))
                      </td>
                    </tr>
                  </table>
                }
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  }
  <br>
  @pagingPanel(
    tran,
    routes.OrderHistory.showOrderHistory(_: Int, _: Int, _: String, tranId),
    10, 25, 50
  )

  <div class="menuPanel">
    <a class="backLink" href="@routes.OrderHistory.index()">
      @Messages("backTo", Messages("order.history.title"))
    </a>
  </div>
}
