@(
  tran: PersistedTransaction, 
  addr: Address,
  textMetadata: Map[Long, Map[ItemTextMetadataType, ItemTextMetadata]],
  siteItemMetadata: Map[(Long, Long), Map[SiteItemNumericMetadataType, SiteItemNumericMetadata]]
)(
  implicit lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@main(Messages("end.transaction"), Some(loginSession)) {
} {
  <div class="transactionEndMessage">
  ご注文ありがとうございました。<br>
  ご登録のメールアドレス宛にご注文の内容を送付いたしました。<br>
  商品の発送をもってご請求させていただきます。<br>
  ご注文番号は「@{tran.header.id.get}」です。<br>
  内容確認のためお控えください。<br>
  発送が終了しましたら発送元より再度メールにてご連絡をさせていただきます。
  </div>

  <h1 class="items">ご注文商品</h1>
  <table class="itemTable" border="0">
    <tr class="itemTableHeader">
      <th class="itemName">@Messages("itemName")</th>
      <th class="siteName">@Messages("site")</th>
      <th class="size">サイズ</th>
      <th class="quantity">数量</th>
      <th>@Messages("subtotal")</th>
    </tr>
    @tran.siteTable.map { site =>
      @tran.itemTable(site.id.get).map { e =>
        <tr class="itemTableBody">
          <td class="itemName">@e._1.name</td>
          <td class="siteName">@site.name</td>
          <td class="size">
            @{siteItemMetadata(site.id.get -> e._2.itemId).get(SiteItemNumericMetadataType.SHIPPING_SIZE) match {
                case Some(md) => Messages("item.size." + md.metadata)
                case None => ""
              }}
          </td>
          <td class="quantity">@e._2.quantity</td>
          <td class="itemPrice">@amount(e._2.amount)</td>
        </tr>
      }
    }
    <tr class="itemTableBody">
      <td colspan="4">小計</td>
      <td class="subtotal">@amount(tran.itemGrandTotal)</td>
    </tr>
    <tr class="itemTableBody">
      <td colspan="4">外税額</td>
      <td class="outerTaxAmount">@amount(tran.outerTaxGrandTotal)</td>
    </tr>
    <tr class="itemTableBody">
      <td colspan="4">商品計</td>
      <td class="grandTotal">@amount(tran.itemGrandTotal +tran.outerTaxGrandTotal)</td>
    </tr>
  </table>

  <h1 class="shippingFee">送料</h1>

  @tran.siteTable.map { site =>
  <h2 class="siteName">@site.name</h2>

  <table class="shipping">
    <tr class="itemTableHeader">
      <th>箱</th>
      <th>箱単価</th>
      <th>数量</th>
      <th>金額</th>
    </tr>
    @tran.shippingTable(site.id.get).map { e =>
      <tr class="shippingTableBody">
        <td class="boxName">@e.boxName</td>
        <td class="boxUnitPrice">@amount(e.amount / e.boxCount)</td>
        <td class="boxQuantity">@e.boxCount 箱</td>
        <td class="boxPrice">@amount(e.amount)</td>
      </tr>
    }
  </table>
  <h2 class="shippingDate">
    配送希望日： @shippingDate(tran.shippingTable(site.id.get).head.shippingDate)
  </h2>
  }

  <h1 class="grandTotalTitle">合計</h1>
  <table class="salesTotal">
    <tr class="salesTotalHeader">
      <th class="header"></th>
      <th class="quantityHeader">数量</th>
      <th class="subtotalHeader">小計</th>
    </tr>
    <tr class="salesTotalBody">
      <td class="itemTotal">商品計</td>
      <td class="itemQuantity">@tran.itemGrandQuantity</td>
      <td class="itemPrice">@amount(tran.itemGrandTotal + tran.outerTaxGrandTotal)</td>
    </tr>
    <tr class="salesTotalBody">
      <td class="shippingTotal">送料計</td>
      <td class="itemQuantity">@tran.boxGrandQuantity 箱</td>
      <td class="itemPrice">@amount(tran.boxGrandTotal)</td>
    </tr>
    <tr class="salesTotalBody">
      <td class="total" colspan="2">合計</td>
      <td class="itemPrice">@amount(tran.itemGrandTotal + tran.outerTaxGrandTotal + tran.boxGrandTotal)</td>
    </tr>
  </table>

  <h1 class="address">送付先</h1>
  @address(addr)

  <br>
  <a href="/">TOPへ戻る</a>
}
