@(
  tran: PagedRecords[TransactionSummaryEntry],
  detailByTranSiteId: scala.collection.immutable.LongMap[Seq[TransactionDetail]],
  boxBySiteAndItemSize: scala.collection.immutable.LongMap[scala.collection.immutable.LongMap[TransactionLogShipping]]
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  flash: play.api.mvc.Flash,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._
@import scala.collection.immutable.LongMap

@implicitLoginSessionOpt = @{Some(loginSession)}

@main(Messages("order.history.title"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("order.history.title")</h1>

  @tran.records.map { e =>
    <table class="orderHistoryTable">
      <tr>
        <td>
          <table class="orderHistoryInnerTable1">
            <tr class="transactionTime">
              <td>@yyyymmddhhmm(e.transactionTime)</td>
            </tr>
            <tr class="transactionId">
              <td>@Messages("transaction.id"): @e.transactionId</td>
            </tr>
            <tr class="buyer">
              <td>@Messages("buyer"): @name(e.buyer)
            </tr>
            <tr class="totalAmount">
              <td>@Messages("transaction.amount"): @amount(e.totalWithTax)</td>
            </tr>
          </table>
        </td>

        <td>
          <table class="orderHistoryInnerTable2">
            <tr>
              <td colspan="2">
                <span class="status">
                  @Messages("transaction.status." + e.status)
                </span>
                <span class="shippingDate">
                  @shippingDate(e.shippingDate)
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <table class="orderHistoryInnerTable3">
                  <tr>
                    <th class="orderHistoryInnerTable3Header itemName">
                      @Messages("invoice.detail.item.itemName")
                    </th>
                    <th class="orderHistoryInnerTable3Header unitPrice">
                      @Messages("unitPrice")
                    </th>
                    <th class="orderHistoryInnerTable3Header quantity">
                      @Messages("quantity")
                    </th>
                    <th class="orderHistoryInnerTable3Header price">
                      @Messages("price")
                    </th>
                  </tr>

                  @detailByTranSiteId(e.transactionSiteId).map { t =>
                    <tr>
                      <td class="orderHistoryInnerTable3Body itemName">@t.itemName</td>
                      <td class="orderHistoryInnerTable3Body price">@amount(t.unitPrice)</td>
                      <td class="orderHistoryInnerTable3Body quantity">@t.quantity</td>
                      <td class="orderHistoryInnerTable3Body price">@amount(t.price)</td>
                    </tr>
                  }
                </table>
              </td>
              <td>
                <table class="orderHistoryInnerTable4">
                  <tr>
                    <th class="orderHistoryInnerTable3Header boxName">@Messages("shippingBoxName")</th>
                    <th class="orderHistoryInnerTable3Header boxPrice">@Messages("price")</th>
                  </tr>
                  @boxBySiteAndItemSize.get(
                    e.transactionSiteId
                  ).getOrElse(LongMap[TransactionLogShipping]()).values.map { box =>
                    <tr>
                      <td class="orderHistoryInnerTable4Body boxName">@box.boxName</td>
                      <td class="orderHistoryInnerTable4Body boxPrice">@amount(box.amount)</td>
                    </tr>
                  }
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  }
  <br>
  @pagingPanel(
    tran,
    routes.OrderHistory.showOrderHistory(_: Int, _: Int, _: String),
    10, 25, 50
  )

  <div class="menuPanel">
    <a class="backLink" href="@routes.OrderHistory.index()">
      @Messages("backTo", Messages("order.history.title"))
    </a>
  </div>
}
