@(
  myForm: Form[_],
  countOfSupplementalEmail: Int
)(
  implicit token: play.filters.csrf.CSRF.Token,
  lang: Lang,
  request: RequestHeader,
  loginSession: LoginSession
)

@import helper._

@inputText(
  myForm("userName"),
  '_label -> Messages("userName"), 'size -> 24, 'maxlength -> 24
)

@inputText(
  myForm("firstName"),
  '_label -> Messages("firstName"), 'size -> 32, 'maxlength -> 32
)

@inputText(
  myForm("lastName"),
  '_label -> Messages("lastName"), 'size -> 32, 'maxlength -> 32
)

@inputText(
  myForm("companyName"),
  '_label -> Messages("companyName"), 'size -> 32, 'maxlength -> 32
)

@inputText(
  myForm("email"),
  '_label -> Messages("email"), 'size -> 32, 'maxlength -> 255
)

@if(countOfSupplementalEmail > 0) {
  @repeatWithIndex(myForm("supplementalEmails"), min = countOfSupplementalEmail) { (f, idx) =>
    @inputText(f, '_label -> Messages("supplementalEmail", idx), 'size -> 32, 'maxlength -> 255)
  }
}

@inputPassword(
  myForm("password.main"),
  '_label -> Messages("password"), 'size -> 24, 'maxlength -> 24
)

@inputPassword(
  myForm("password.confirm"),
  '_label -> (Messages("password.confirm")), 'size -> 24, 'maxlength -> 24,
  '_error -> myForm.error("password")
)
